/** General AND reset CSS ********************************************************************/
body {
	font-family: -apple-system, 'BlinkMacSystemFont', '.SFNSDisplay-Regular', 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', 'Roboto', 'メイリオ', meiryo, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #424242;
	overflow-x: hidden;
}
:root{
	--blue: #0CADF6;
	--blue_vivid: #38C3FF;
	--blue_bg: #70c7ff;
	--blue_bg_pale: #8DE3FC;
	--blue_ribbonDark: #6eb3e0;
	--gray_bg: #f7f7f7;
	--red: #D11010;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@font-face {
  font-family: 'Sawarabi Mincho';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/sawarabimincho/v1/SawarabiMincho-Regular.eot);
  src: url(//fonts.gstatic.com/ea/sawarabimincho/v1/SawarabiMincho-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/sawarabimincho/v1/SawarabiMincho-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/sawarabimincho/v1/SawarabiMincho-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/sawarabimincho/v1/SawarabiMincho-Regular.ttf) format('truetype');
} /* the source is https://googlefonts.github.io/japanese/#sawarabimincho  */
h1,h2,h3,h4 {
	margin: 0;
}
/** Text *************************************************************************************/
p {
	margin: 16px 0;
}
.heading1 {
	font-size: 48px;
	position: relative;
	margin: 72px 0 48px 0;
	font-weight: 600;
}
.heading2 {
	font-size: 30px;
	position: relative;
	margin-top: 32px;
}
.heading3 {
	font-size: 24px;
	position: relative;
}
.UTL__headingSubtitle {
	margin: 64px 0 -60px 0;
}
@media(max-width:992px) {
	body{
		font-size: 16px;
	}
	h1 {
		font-size: 36px;
	}
	.heading1 {
		font-size: 28px;
		margin: 60px 0 20px 0;
	}
	.heading2 {
		font-size: 24px;
	}
	.heading3 {
		font-size: 20px;
	}
	.UTL__headingSubtitle {
    margin: 54px 0 -54px 0;
	}
}
p.UTL_broadMargin {
	margin: 48px 0;
}
.UTL_spacingParagraph {
  line-height: 1.5;
}
.UTL-broadSpacingPragraph {
	line-height: 2.2;
}
.light {
	font-weight: 300;
}
.bold {
	font-weight: bold;
}
.white {
	color: white;
}
.gray {
	color: #989da0;
}
.blue {
	color: var(--blue);
}
.UTIL-highlightPink {
	color: #EC6983;
}
.UTL__highlightBlue {
	background: linear-gradient(transparent 80%, var(--blue_vivid) 60%);
	font-weight: 600;
}
/** ACTION *******************************************************************************************************/
a {
	text-decoration: none;
	color: var(--blue);
	transition: all 0.3s ease;
}
.btn {
	font-size: 18px;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	border-radius: 5px;
	background: transparent;
	transition: all 0.3s ease;
}
.btn:hover,
.btn:focus,
.btn.hover,{
	color: white;
}
.btn.focus {
	color: white;
}
.btn.btn-blue {
	background: var(--blue);
}
.btn.btn-blue:hover,.btn.btn-blue.hover {
	background: #31b9ff;
}
.btn.btn-blue-ghost {
	color: var(--blue);
	border: 2px solid var(--blue);
	background: transparent;
}
.btn.btn-blue-ghost:hover, .btn.btn-blue-ghost.hover {
	color: #fff;
	background: var(--blue);
}
.btn.btn-white-fill {
	color: #fff;
	border: 2px solid #fff;
	background: transparent;
}
.btn.btn-white-fill:hover, .btn.btn-white-fill.hover {
	color: var(--blue);
	background: #fff;
}
.btn-lineat{
  height: 18px;
}
/*.blink {
	position: relative;
	top: 4px;
	display: inline-block;
	width: 4px;
	height: 50px;
	height: 5vh;
	margin: 0 10px;
}*/

/** Sturcture **/
section {
	position: relative;
}
.section-padded {
	padding: 140px 0 40px;
}
.container {
	position: relative;
	z-index: 1;
}
.BLK__container {
    position: relative;
    z-index: 1;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
@media (min-width: 1200px){
	.BLK__container {
	    width: 1170px;
	}
}
@media (min-width: 992px){
	.BLK__container {
    width: 970px;
	}
}
@media (min-width: 768px){
	.BLK__container {
    width: 750px;
	}
}
.row{
	margin-top:16px;
	margin-bottom:32px;
}
.flexbox-row-center-overflow{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
.flexbox-margin > *{
	margin-top: 8px;
	margin-right: 8px;
}
.margin-top-16px{
	margin-top: 16px;
}
.margin-top-48px{
	margin-top: 48px;
}
.margin-top-64px{
	margin-top: 64px;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-bottom-16px{
	margin-bottom: 16px;
}
.margin-bottom-32px{
	margin-bottom: 32px;
}
.margin-bottom-64px{
	margin-bottom: 64px;
}
.padding-top-100{
  padding-top: 100px;
}
.margin-top {
	margin-top: 150px;
}
.margin-side-24px{
	margin: 0 24px;
}
.parallax {
	position: absolute;
	overflow: hidden;
	width: 100%;
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.parallax img {
	width: 100%;
	height: 100%;
}
/*ul.white-list {
	padding: 0;
	list-style-type: none;
}
ul.white-list li {
	font-size: 18px;
	margin: 10px 0;
	color: #fff;
}
ul.white-list li:before {
	content: ' ';
	position: relative;
	top: -3px;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 15px;
	background: white;
}*/
@media(max-width:992px) {
	ul{
	  -webkit-padding-start: 20px;
	}
}
/* Form Control *******************************************************************************************************/
.form-control {
	font-size: 18px;
	position: relative;
	height: auto;
	padding: 20px 30px;
	margin: 20px 0;
	border: 1px;
	border-radius: 0;
	box-shadow: none;
}
.form-control:not([type="submit"]):valid{
	background-color: rgba(0,168,178,0.5) !important;
}
.form-control.form-white {
	color: #fff;
	border: 2px solid white;
	background: transparent;
	transition: background-color 0.3s;
}
.form-control.form-white::-webkit-input-placeholder{
	color: #fff;
}
.form-control.form-white:-ms-input-placeholder {
	color: #fff;
}
.form-control.form-white::-moz-placeholder {
	opacity: 1;
	color: #fff;
}
.form-control.form-white:focus {
	background: rgba(255,255,255,0.2);
}
.form-control.btn-submit {
	margin-top: 30px;
	color: var(--blue);
	background: #fff;
}
.form-control.btn-submit:hover, .form-control.btn-submit.hover {
	background: rgba(255,255,255,0.8);
}

.formError{
  margin-top: 0 !important;
}
.formError .formErrorContent {
  font-size: 14px;
	border: none;
}
.formError .formErrorArrow {
  display: none;
}


@media(max-width: 992px) {
	.form-control{
		font-size: inherit;
		padding: 12px 16px;
    margin: 16px 0;
	}
	.form-control.btn-submit {
    margin-top: 16px;
	}
}

/* Popup *******************************************************************************************************/
.modal-dialog{
  margin: 10vh 20vw;
	width: 100%;
}
.modal-popup {
	position: relative;
  width: 60vw;
	height: 80vh;
	padding: 45px 30px;
	text-align: center;
	background-color: var(--blue);
	box-shadow: none;
	border-radius: 2px;
	overflow: scroll;
}
.modal-popup a.close-link {
	position: absolute;
	top: 36px;
  right: 36px;
  width: 60px;
  height: 60px;
	color: #fff;
}
.modal-popup a.close-link > i {
	font-size: 60px;
}
.popup-form {
  width: 36vw;
	margin: 24px auto;
}
.fixed-scroll {
  position: fixed;
  width: 100%;
  height: 100%;
}
/*.popup-form .form-control.dropdown {
	text-align: left;
}
.popup-form .form-control.dropdown:after {
	content: '\f0d7';
	font-family: 'FontAwesome';
	display: inline-block;
	float: right;
	color: white;
}
.popup-form .dropdown .dropdown-menu {
	top: 65px;
	width: 100%;
	padding: 0;
	border: 2px solid white;
	border-top: 0;
	border-radius: 0;
	background: white;
	box-shadow: none;
}
.popup-form .dropdown .dropdown-menu li {
	font-size: 16px;
	width: 100%;
	background: transparent;
}
.popup-form .dropdown .dropdown-menu li a {
	width: 100%;
	padding: 15px 30px;
	color: var(--blue);
}
.popup-form .dropdown .dropdown-menu li:hover a, .popup-form .dropdown .dropdown-menu li.hover a {
	color: #fff;
	background: var(--blue);
}*/
@media(max-width:991px) {
	.modal-dialog{
	  margin: 10vh 5vw;
	}
	.modal-popup {
	  width: 90vw;
    padding: 4px 16px 8px 16px;
	}
	.modal-popup a.close-link {
		top: 8px;
    right: 8px;
    width: 44px;
    height: 44px;
	}
	.modal-popup a.close-link > i {
		font-size: 44px;
	}
	.popup-form {
		width: 100%;
	}
}
@media(max-width: 767px) {
	.modal-popup textarea{
		max-height: 30vh;
	}
}

/* Checkbox *******************************************************************************************************/
.checkbox-holder {
	white-space: nowrap;
}
.checkbox {
	position: relative;
	display: block;
}
.checkbox {
	position: relative;
}
.checkbox label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: 2px solid white;
	background: transparent;
	transition: background-color 0.3s;
}
.checkbox input[type=checkbox]:focus + label:before {
	background: rgba(255,255,255,0.2);
}
.checkbox label:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	opacity: 0;
	background: white;
	transition: all 0.3s ease;
}
.checkbox input[type=checkbox] {
	opacity: 0;
	position: absolute;
	width: 0;
	height: 0;
}
.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox-holder span {
	position: relative;
	display: inline-block;
	margin: 0 0 0 10px;
	white-space: normal;
	color: #fff;
}
/** table *******************************************************************************************************/
table.ROW-info-table th{
	padding: 4px 8px 4px 0;
	margin-right: 8px;
}
table.ROW-info-table td{
	padding: 8px 4px;
}
/***************************************** Paragraph Utilities ******************************************/
p.question{
	margin: 48px 0px 32px 0px;
}
p.question:before{
	content: '\f059';
	display: inline-block;
	width: 24px;
	font-family: 'FontAwesome';
	font-size: 18px;
	text-indent: 0;
	margin-right: 8px;
}
p.answer{
	margin-left: 32px;
}
p.UTL__answer-fisrt:before {
	content: '\f18e';
	display: inline-block;
	width: 24px;
	font-family: 'FontAwesome';
	font-size: 18px;
	text-indent: 0;
	margin-right: 8px;
}
@media(max-width:992px) {
	p.answer{
		margin-left: 0;
	}
}
.PRT__ribbonBox {
	position: relative;
	margin: 16px 0;
	padding: 10px 24px;
	background: var(--gray_bg);
	width: calc(100% - 30px);
	left: 24px;
}
.PRT__ribbonBoxRibbon {
  position: relative;
  box-sizing: border-box;
  padding: 6px 6px 6px 28px;
  margin: 0 0 0 -44px;
  width: 100%;
  font-size: 19px;
  color: white;
  background: var(--blue_bg);
}
.PRT__ribbonBoxRibbon:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px var(--blue_ribbonDark);
}
/* Other Utilities ******************************************/
.UTL__img100{
	width: 100%;
	height: auto;
}
.img-80{
	width: 80%;
	height: auto;
}
.img-60{
	width: 60%;
	height: auto;
}
@media(max-width:992px) {
	.img-80, .img-60{
		width: 100%;
	}
}
.UTL-flexbox-middle-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.UTL__cutBottom {
  position: relative;
  padding: 0 0 4vh 0;
}
.UTL__cutBottom:after {
  content: ' ';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  border-top: 4vh solid transparent;
  border-right: 100vw solid white;
}

/* Common ROW-preloader ******************************************/
.ROW-preloader {
	position: fixed;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	background: #fff;
}
.cs-loader-inner {
  transform: translateY(-50%);
  top: 50vh;
  position: absolute;
  width: 100vw;
  color: var(--blue);
  text-align: center;
}
.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}
@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
.cs-loader-inner label:nth-child(6) {
  animation: lol 1.5s infinite ease-in-out;
}
.cs-loader-inner label:nth-child(5) {
  animation: lol 1.5s 100ms infinite ease-in-out;
}
.cs-loader-inner label:nth-child(4) {
  animation: lol 1.5s 200ms infinite ease-in-out;
}
.cs-loader-inner label:nth-child(3) {
  animation: lol 1.5s 300ms infinite ease-in-out;
}
.cs-loader-inner label:nth-child(2) {
  animation: lol 1.5s 400ms infinite ease-in-out;
}
.cs-loader-inner label:nth-child(1) {
  animation: lol 1.5s 500ms infinite ease-in-out;
}
/* Common Navigation Bar ******************************************/
.ROW__navbar {
	top: 50px;
	position: absolute;
	z-index: 9500;
	width: 100vw;
	transition: all 0.3s ease;
	border: none; /* Bootstrap 打ち消し */
}
.ROW__navbar.navbar-fixed-top {
	top: 0;
	position: fixed;
  margin-top: 0px;
  padding: 12px 0;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}
@media(max-width:991px) {
	.ROW__navbar {
		top: 32px;
	}
}
.ROW__navbar.ROW__navbar--original .navbar-nav li a {
	color: #fff !important;
}
.ROW__navbar.navbar-fixed-top .navbar-nav li a {
	color: #bbb;
}
.ROW__navbar.navbar-fixed-top .navbar-nav li.active a {
	color: var(--blue);
}
.navbar-nav > li > a {
	font-weight: 500;
}
.navbar-brand > img {
  position: absolute;
}
.navbar-collapse {
	padding: 0; /* Bootstrap 打ち消し */
}
/* Mobile Nav */
.mobile-nav {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	background: rgba(255, 255, 255, 0.98);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform: scale(0);
}
.mobile-nav.active {
	opacity: 1;
	transform: scale(1);
}
.mobile-nav ul {
	display: table-cell;
	padding: 0;
	list-style: none;
	vertical-align: middle;
}
.mobile-nav ul li {
	margin: 25px 0;
}
.mobile-nav ul li a:not(.btn) {
	color: #aaa;
	font-size: 18px;
}
.mobile-nav a.close-link {
	font-size: 24px;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 10px);
	left: 0;
	width: 100%;
	padding: 15px 0;
	color: #fff;
	background: var(--blue);
}
.icon-bar {
	background: #bbb;
}
.navbar-nav > li > a.selected {
	border-bottom: solid 2px var(--blue);
}

/* Top HEADER ******************************************/
.ROW-header{
	position: relative;
	width: 100vw;
	min-height: 400px;
	background-image: url('/img/header.png');
	background-position-y: bottom;
	background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
	padding: 12vh 0 4vh 0;
}
.ROW-header-topPage{
	height: 100vh
}
.PRT__headerTitle{
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 1.5;
}
.PAT__headerTitle__copy{
	font-size: 60px;
	margin: 18px 0 0 16px; /*カーソル分の視差効果補正で左マージン*/
	display: inline-block;
}
.PAT__headerTitle__subcopy{
	font-size: 30px;
	margin: 8px 0;
	font-weight: 300;
}
header .PRT__typedCursor {
	font-size: 72px;
	margin: 0 8px;
	color: var(--blue);
	animation-name: flash;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
@media(max-width:992px) {
	.PAT__headerTitle__copy {
		font-size: 36px;
	}
	.PAT__headerTitle__subcopy{
		font-size: 24px;
	}
	.PRT__typedCursor {
    font-size: 46px;
	}
}
/* Top FOOTER ******************************************/
footer {
	padding: 140px 0 60px;
	background: url('../img/footer.png');
	background-size: cover;
  margin-bottom: -60px; /*Google recapchaの位置調整*/
}
footer .trial-button {
	overflow: hidden !important;
	margin: 40px 0;
}
footer .open-blink {
	content: ' ';
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 20px;
	border-radius: 50%;
	background-color: #4caf50;
	animation-name: flash;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
footer .open-blink:before {
	content: ' ';
	position: absolute;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 30px;
	height: 30px;
	opacity: 0.1;
	border-radius: 50%;
	background-color: #4caf50;
}
footer .opening-hours {
	margin-top: 60px;
}
footer .bottom-footer {
	margin-top: 150px;
}
footer .social-footer {
	padding: 0;
	list-style: none;
}
footer .social-footer li {
	display: inline-block;
	margin: 0 10px;
}
footer .social-footer li a {
	font-size: 24px;
	color: #fff;
}
footer .social-footer li:hover a, footer .social-footer li.hover a {
	color: var(--blue);
}
.grecaptcha-badge { /*Google recapchaの位置調整*/
	position: relative !important;
	right: calc(-100vw + 256px) !important;
}
/* Top INTRO-TABLE ******************************************/
.ROW-serviceCard {
	margin-top: -160px;
	background-color: transparent;
	z-index: 2; /* 後接の<section>が被ってhoverが機能しなくなる現象を回避*/
}
@media(min-width:992px){
	.container.intro-tables{
		height: 170px;
	}
	.ROW-serviceCard {
		padding-bottom: 160px;
	}
}
.row.intro-tables {
	position: relative;
  opacity: 0;
}
.intro-tables .intro-table {
	position: relative;
	width: 100%;
	height: 300px;
	margin: 20px 0;
}
.intro-table {
	background-size: cover;
	background-repeat: repeat;
	background-position: 0% 0%;
}
.intro-table-1 {
	background-image: url('../img/serviceText.png');
}
.intro-table-2 {
	background-image: url('../img/serviceClass.png');
}
.intro-table-3 {
	background-image: url('../img/serviceConnect.png');
}
.intro-table-hover {
	transition: background-image 0.3s ease, background-position 0.3s;
}
.intro-table-hover:hover, .intro-table-hover.hover {
	background-position: 50% 50%;
}
.intro-table-hover .hide-hover {
	transition: opacity 0.3s ease;
}
.intro-table-hover:hover .hide-hover, .intro-table-hover.hover .hide-hover {
	opacity: 0;
}
.intro-tables .intro-table .product {
	margin: 0;
	padding: 30px;
}
.intro-tables .intro-table .bottom {
	position: absolute;
	bottom: 0;
}
.intro-tables .intro-table .product .description {
	padding: 0 30px;
}
.intro-table-hover .product.description {
	transform: translateY(200px);
	transition: transform 0.3s;
}
.intro-table-hover:hover .product.description, .intro-table-hover.hover .product.description {
	transform: translateY(80px);
}
.intro-table-hover .btn {
	margin: 30px;
	margin-top: 120px;
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s;
	transform: scale(0.6);
}
.intro-table-hover:hover .btn, .intro-table-hover.hover .btn {
	opacity: 1;
	transform: scale(1);
}
/*.intro-tables .intro-table .owl-schedule .schedule-row {
	padding: 10px 30px;
	color: white;
	transition: all 0.3s ease;
}
.owl-schedule .schedule-row:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.owl-testimonials .author {
	margin-top: 50px;
}
.ripple-effect {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: white;
	-webkit-animation: ripple-animation 2s;
	animation: ripple-animation 2s;
}
@-webkit-keyframes ripple-animation {
	from {
		opacity: 0.2;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(100);
		transform: scale(100);
	}
}
@keyframes ripple-animation {
	from {
		opacity: 0.2;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(100);
		transform: scale(100);
	}
}*/

/* Top PHILOSOPHY **********************************************************************/
.service {
	width: 100%;
	height: 320px;
	margin: 40px 0;
	text-align: center;
	border: 1px solid #ddd;
	transition: all 0.3s ease;
}
.service:hover, .service.hover {
	border-color: var(--blue);
}
.service .icon-holder {
	position: relative;
	top: 100px;
	display: inline-block;
	margin-bottom: 40px;
	padding: 10px;
	background: white;
	transition: all 0.3s ease;
}
.service .icon-holder > img.icon {
	width: 40px;
}
.service:hover .icon-holder, .service.hover .icon-holder {
	top: -30px;
}
.service .heading3 {
	position: relative;
	top: 80px;
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.service:hover .heading3, .service.hover .heading3 {
	top: -30px;
}
.service .description {
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform: scale(0);
}
.service:hover .description, .service.hover .description {
	opacity: 1;
	transform: scale(1);
}
#philosophy.UTL__cutBottom:after {
	border-right-color: var(--blue_bg);
}
/* Top NEWS ****************************************************************/
section#news{
  background: var(--blue_bg);
	padding-bottom: 64px;
}
#news span:after{
	content: '　\f0a9';
	font-family: 'FontAwesome';
}

/* Top TEAM ****************************************************************/
.team {
	margin: 80px 0;
	padding-bottom: 60px;
	background: white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.08), 0 10px 12px rgba(0,0,0,0.02);
	border-radius: 5px;
}
.team .cover .overlay {
	height: 250px;
	padding-top: 60px;
	opacity: 0;
	background: rgba(0, 168, 255, 0.9);
	transition: opacity 0.45s ease;
}
.team:hover .cover .overlay, .team.hover .cover .overlay {
	opacity: 1;
}
.team .avatar {
	position: relative;
	z-index: 2;
	margin-top: -60px;
	border-radius: 50%;
	width: 160px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.team .description {
	margin: 50px 0;
}
.team .links{
	display: flex;
	justify-content: center;
	margin: 0 50px;
}
.team .links a{
	margin: 0 8px;
}
.team .links i{
	font-size: 24px;
}

#dvFmCnfm{
	margin-top: 45px;
}
#btnFmCrrct{
	margin-top: 30px;
}
/* Anchor 対話篇 ******************************************/
.anchor .nav-tabs > li {
	border-bottom: none;
	margin-bottom: -3px;
}
@media(max-width:991px) {
	.anchor .nav-tabs li a {
		padding: 10px 8px;
	}
}
@media(max-width:320px) {
	.anchor .nav-tabs li a {
		padding: 10px 4px;
	}
}
.anchor .nav-tabs > li.active > a, .anchor .nav-tabs > li.active > a:hover, .anchor .nav-tabs > li.active > a:focus {
	color: #fff;
	background-color: var(--blue_bg);
	border: none;
}
.setsumon{
	background-color: var(--blue_bg);
	color: #fff;
}
.setsumon .container {
	padding-top: 16px;
	padding-bottom: 16px;
}
.setsumon .row{
	margin-bottom: 16px;
}
.anchor-header:before {
	content: '';
  white-space: pre;
	color: var(--blue);
  border: var(--blue) dotted 1px;
	border-radius: 2px;
	padding: 4px 8px;
	line-height: 2.5;
}
.anchor-header.kaitou:before {
	content: 'Schip解答\A';
}
.anchor-header.shikounomokuji {
	margin-bottom: 32px;
}
.anchor-header.shikounomokuji:before {
	content: '思考の目次\A';
}
.shikounomokuji li {
  margin-top: 8px;
}
.anchor-header.kaitou-zantei:before {
	content: '暫定解\A';
}
.anchor-header.kaitou-a:before {
	content: 'A社の解答\A';
}
.anchor-header.kaitou-b:before {
	content: 'B社の解答\A';
}
.anchor-header.kaitou-c:before {
	content: 'C社の解答\A';
}
.anchor-header.kaitou-d:before {
	content: 'D社の解答\A';
}
.anchor-header.saiten:before {
	content: 'Schip採点';
}
div.discussion {
	display: flex;
	align-items: center;
}
div.discussion .BLK__discussion--metaInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 18px;
	min-width: 6vw;
}
div.discussion .BLK__discussion--metaInfo div:first-child {
  margin-bottom: 6px;
  min-width: 6vw;
	height: 6vw;
	border-radius: 3vw;
	background-repeat: no-repeat;
	background-size: contain;
}
div.discussion .BLK__discussion--metaInfo div:last-child{
  min-width: 6vw;
	text-align: center;
}
div.kodama.discussion .BLK__discussion--metaInfo div:first-child {
	background-image: url("/img/team/kodama.jpg");
}
div.kodama.discussion .BLK__discussion--metaInfo div:last-child::before {
	content: 'こだま';
}
div.kameoka.discussion .BLK__discussion--metaInfo div:first-child {
	background-image: url("/img/team/kameoka.jpg");
}
div.kameoka.discussion .BLK__discussion--metaInfo div:last-child::before {
	content: 'かめ';
}
div.taniguchi.discussion .BLK__discussion--metaInfo div:first-child {
	background-image: url("/img/team/taniguchi.jpg");
}
div.taniguchi.discussion .BLK__discussion--metaInfo div:last-child::before {
	content: 'ユージン';
}

div.discussion div.BLK__discussion--content {
	position: relative;
	margin: 16px 0px;
	flex-grow: 1;
	border: 3px solid var(--blue);
	padding: 30px 18px 24px 20px;
	min-height: 80px;
	display: flex;
  align-items: center;
	line-height: 1.5;
	box-shadow: 0 5px 10px rgba(0,0,0,0.08), 0 2px 4px rgba(0,0,0,0.02);
}
div.discussion div.BLK__discussion--content:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -24px;
	margin-top: -12px;
	border: 12px solid transparent;
	border-right: 12px solid #FFF;
	z-index: 2;
}
div.discussion div.BLK__discussion--content:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
 	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid var(--blue);
 	z-index: 1;
}
@media(max-width:991px) {
	div.discussion .BLK__discussion--metaInfo {
		min-width: 12vw;
		height: 12vw;
	}
	div.discussion .BLK__discussion--metaInfo div:first-child {
		min-width: 12vw;
		min-height: 12vw;
		border-radius: 6vw;
	}
	div.discussion .BLK__discussion--metaInfo div:last-child::before {
		font-size: 0.77em;
	}
	div.discussion .BLK__discussion--content {
		margin: 8px 0px;
	}
}

.PRT__blackboard {
	font-family: "Sawarabi Mincho";
  color: rgba(255,255,255,0.9);
	background-image:
	  url('/img/anchor_blackboard_backgroud_track.svg'),
	  linear-gradient(to bottom, #0B570C, #083F05);
  margin: 10px 0 10px 0;
  padding: 25px;
  border: 6px solid #a60;
  box-shadow: 0 19px 38px rgba(0,0,0,0.08), 0 10px 12px rgba(0,0,0,0.02), 1px 1px 2px rgba(0,0,0,0.6) inset;
  line-height: 1.9;
}
blockquote {
		font-size: 0.93em;
	  border-left: none;
    position: relative;
    padding: 20px 24px 20px 48px;
    box-sizing: border-box;
    font-style: italic;
    background: var(--gray_bg);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
		margin: 16px 0px 16px 12px;
}
blockquote:before{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: -15px;
    width: 40px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    content: "\f10d";
    font-family: FontAwesome;
    color: #FFF;
    font-size: 18px;
    line-height: 30px;
    background: var(--blue_bg);
    box-shadow: 0 2px 2px rgba(26, 26, 26, 0.14);
}
blockquote:after{
    position: absolute;
    content: '';
    top: 40px;
    left: -15px;
    border: none;
    border-bottom: solid 8px transparent;
    border-right: solid 15px var(--blue_ribbonDark);
}
blockquote p {
    position: relative;
    margin: 10px 0;
    line-height: 1.7;
}
blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}

.RO-photo-multi{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.BL-photo-multi-item{
	max-width: 350px;
	margin: 8px;
}
