
<header class="service-page">
	<div class="container">
		<div class="table">
			<div class="header-text">
				<div class="row margin-top-64">
					<div class="col-md-12 text-center">
						<p class="heading2 white typed">Anchor{{ include.year }}ダウンロード</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<section>
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12 margin-bottom-16px">
        <p>過去にこの教材を購入した方は、以下のボタンより最新のバージョンをダウンロードすることができます。</p>
				<a class="btn btn-blue btn-margin-right" href="/texts/{{ include.file }}" download="{{ include.file }}" id="{{ include.btnid }}">Anchor {{ include.year }} をダウンロードする</a>
        <p class="gray">こちらは、過去にこの教材を購入した方限定のダウンロードページです。<br>このページは検索エンジンにも表示されておらず、公開されているサイトからもリンクが貼られていないため、ご購入者限定の案内以外の方法でこのページにアクセスし教材をダウンロードすることは規約違反となります。<br>もしまだご購入されていない場合には、以下のボタンより、Anchorの購入ページにお進みください。</p>
        <a class="btn btn-blue btn-margin-right" href="/anchor">Anchor購入ページ</a>
			</div>
		</div>
	</div>
</section>
