---
redirect_from: "/butsugi/2017-03-11-mathematics"
layout: default
title: 数学教育について SchipTalk 2017年3月11日号 | Schip 解くから問うへ
description: SchipTalk 2017年3月11日号 数学ドリルって何だったんだ？計算能力は本当に必要？ベクトルの意義とは？今回は数学教育について話しました。| 解く人から問う人へ 人類の可能性を信じるSchip 教育と学習
kw: 勉強,教育,知性,学習,東大,受験
list1: <a href="/school">Schipメソッド</a>
list2: <a href="/anchor">Anchor-東大現代文-</a>
list3: <a href="https://compass.schip.me" target="_blank">Comapss by Schip</a>
---

{% include branchheader.html content="2017年3月11日<br>数学教育について" %}

<section>
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
          {% include discussion-tr.html person="kodama" content="
          いまの教育って、「解く力」ばかり育てているけど、いったい誰が得しているのだろう。教育過程を終えてから必要になるのって、与えられた問題を「解く力」ではない気がしている。
          " %}
          {% include discussion-tr.html person="kameoka" content="
          そうだね。例えば、数学だと、学校では「計算」ばかりを教わるけど、学校を卒業してから計算することはほとんどない。計算するのはエクセルの仕事。エクセルが計算してくれるように「関数」をつくるのが人間の仕事。だけど、関数のつくりかたなんて数学では習わない。
          " %}
          {% include discussion-tr.html person="kodama" content="
          でも、数学自体の本質はそこにあるとも思う。大学に入ってから触れる数学って、手を動かしているときでさえ、計算ではなくて、式の導出であることが多い。これって、アルゴリズムをどうシンプルにするかっていうことだから、やっぱり高校までで（特にセンター試験で）求められている数値計算とは全然違う。
          " %}
          {% include discussion-tr.html person="kameoka" content="
          ということは、大学を卒業してから、研究の道に進もうが、ビジネスの道に進もうが、結局は、問題を解くよりも、自分で問題を設定できたり、問いが立てられる能力のほうが重要そうだ。
          " %}
          {% include discussion-tr.html person="kodama" content="
          だとしたらなおさら、なんでこんな教育制度がまかり通っているのだろう。学校を卒業してからも役に立たない、生徒たちが楽しいわけでもない…。
          " %}
          {% include discussion-tr.html person="kameoka" content="
          強いていえば、ドリルつくっている会社とか？（笑）
          " %}
          {% include discussion-tr.html person="kodama" content="
          でも、ドリルでさえも、インドとかは進んでいるんだよね。例えば、日本だと「1+1=　」というかたちで空欄があいている。けれど、インドだと「２＝　」というかたちで空欄があいている。「１＋１」でもいいし「２＋０」でもいい。もっと進めば「1.5＋0.5」と答える生徒もいるかもしれない。このような思考の方向性のほうが合っている気がする。
          " %}
          {% include discussion-tr.html person="kameoka" content="
          面白いね。アメリカの足し算は「１＋□＝２」で□を求めるという形式だと聞いたことがある。足し算という概念を理解するために「１＋１＝□」という形式である必要は全然ないね。なんで、いままで気づかなかったんだろう。
          " %}
          {% include discussion-tr.html person="kodama" content="
          しかも、それは無用な誤解を招くかもしれない。日本方式だと「＝」の意味が誤解されてしまう。「＝」はあくまで計算結果というか。「→」にも置き換えられそうな記号というか。そうやって「＝」の意味を誤解していると、「f(x)=x+a+1」とかいう式が出てきたときに、なにのことだかわからなくなってしまう。だって、ここでは計算しているわけではないから。こうして「＝」のアイデンティティクライシスが起きると、数学は頭に入ってこなくなる。
          " %}
          {% include discussion-tr.html person="kameoka" content="
          それって、ベクトルも話にもつながるね。ベクトルって、計算問題だと誤解されて、素晴らしい道具なのに使い道が分からない人が多すぎる気がする。円を見たらベクトルが透けて見えてくるとか、ベクトルの意味が分かっていると当たり前のことなのに、なかなかそこまでベクトルが手に馴染んている人は少ない。
          " %}
          {% include discussion-tr.html person="kameoka" content="
          数学的概念を手に馴染むまで使い込むと、世の中にある問題解決のほとんどがもっと簡単になるのに、そこに到達しないと良さが分からないというジレンマ。いずれにしても、もっと教育課程で、概念を掴める力、問いを立てる力を伸ばせたら、日本の知的水準はもっと上がるだろうに……というのは本当に残念なところだ。
          " %}
        </table>
			</div>
		</div>
	</div>
</section>
