---
redirect_from: "/butsugi/2017-03-15-subject"
layout: default
title: 「主体」と"subject" SchipTalk 2017年3月15日号 | Schip 解くから問うへ
description: SchipTalk 2017年3月15日号 日本語の「主体」と英語(西欧語の)Subjectって本当に一緒？「主体的」ってなんと英訳すれば良いのだろう？| 解く人から問う人へ 人類の可能性を信じるSchip
kw: 勉強,教育,知性,学習,東大,受験
list1: <a href="/#philosophy">Philosophy</a>
list2: <a href="/scoring_practice">プリズムメソッド</a>
list3: <a href="/anchor">Anchor</a>
list4: <a href="https://compass.schip.me" target="_blank">Comapss</a>
---

{% include branchheader.html content='2017年3月15日<br>「主体」と"subject"' %}

<section>
	
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
          {% include discussion-tr.html person="kameoka" content="
          主体という概念について、主体が実態としてあるという考え方も、過程としてしかありえないという考え方もあるけど、そもそも、日本語のいう「主体」の根源は西洋とはまったく異なるものなのかもしれないなぁ。
          " %}
          {% include discussion-tr.html person="kodama" content="
          実は最近それよく気になる。西欧語だと古典語の時からいわゆる「主体」に訳される言葉は、「下に」「置くor投げる」という成り立ちだし、非常に動作的だから、日本語の「主体」はそれと比べるとかなり静的に見える。
          " %}
          {% include discussion-tr.html person="kameoka" content="
          なぜ、主体的な学びは、SubjectiveではなくActiveと訳されたのか、気になっている。主体についてはそうだなと思いつつ、「主体的」ということばになると、日本語はActiveであるという動作に焦点が、西洋は被投性が強調されているように感じる。
          " %}
          {% include discussion-tr.html person="kodama" content="
          なるほどそういう意味では、activeはactが基なのだから、実際は「主体＋的」であるかはあまり関係がない、客体として活動的であることもありうるかもしれないとも思う。だから、むしろ日本語で「主体的」と「動作的・活動的」がその辺りで混合してるのかも。
          " %}
          {% include discussion-tr.html person="kodama" content="
					agentiveという言葉の方が、日本語のactiveに対応させられている意味での「主体的」には近い気が。
          " %}
          {% include discussion-tr.html person="kameoka" content="
          agentiveとはいい言葉を知った。調べてみると、そうかもしれないなと思った。動作を中心として見たとき、動作主であることが日本語だと「アクティブ」であり、英語だと「agentive」になりそう。
          " %}
          {% include discussion-tr.html person="kameoka" content="
          一方、俺の語彙のなかでは、日本語の「主体的」に対応するものは英語には見いだせないし、英語の「Subject」に対応するものも見いだせない。失われてしまったことばもあるのかもしれないが、
          " %}
          {% include discussion-tr.html person="kameoka" content="
          日本語の「主体」に限れば、外から与えられたなにかを内在化できているかどうかが基本的な軸としてありそう。よく「自分事化」という言葉を（教育では）使うけど、それに類するものである気がする。西洋の主体は被投性を前提としつつ、agentiveというか。
          " %}
          {% include discussion-tr.html person="taniguchi" content="
          subjectはギリシア語でヒュポケイメノンだけど、ギリシア語のニュアンスでは、先立って存在しているものって意味が強いよね。（下に置かれるというよりは）、先言措定って訳す人もいるけど（井上忠）
          " %}
          {% include discussion-tr.html person="taniguchi" content="
          それでデカルトの認識論的な展開によって、この世界に先立って存在するものは我になったところから、主体というニュアンスを持ったんだと思うんだけど、西洋にはそれを相対化する伝統あるけど、日本にはないよね。
          " %}
          {% include discussion-tr.html person="taniguchi" content="
          actもagentにも役割-演技のニュアンスもあって、active　learningといったときは、観衆じゃなくてきちんと俳優として舞台に参加するってニュアンスがあると思う。
          " %}
          {% include discussion-tr.html person="taniguchi" content="
          active learningにはだからあんまり「自分ごと」というニュアンスは薄いんじゃないかと思うけど（知らないが）、日本で主体的学習っていった場合には「自分ごと」にして考えようねってなるよね確かに
          " %}
          {% include discussion-tr.html person="taniguchi" content="
					舞台に参加して、ちゃんと演技しよう！というよりは、「自分ごと」にしよう！みたいな。舞台俳優は別に自分ごとにしなくてもいいわけで、舞台にきちんと参加して、自分の役割をちゃんと演じられればいいよね。
          " %}
          {% include discussion-tr.html person="taniguchi" content="
					アレントのいうactivaも基本的に、言語を介した他者とのやり取りだし、積極的に他者とやり取りして、公共という舞台を成立させて、その舞台できちんと演技するみたいなニュアンスが明示的でないにせよありそう。
          " %}
          {% include discussion-tr.html person="taniguchi" content="
					日本語で主体的な学習っていったときは、やっぱり自分が中心にあって、自分でどんどん勉強するとか、自分ごとにするとかそういうニュアンスが前面に出そう。長くなった上にかなり適当だがご了承。
          " %}
        </table>
			</div>
		</div>
	</div>
</section>
