---
layout: default
title: 言語の文化「どうも」と"OK" SchipTalk 2017年3月20日号 | Schip 解くから問うへ
description: SchipTalk 2017年3月11日号 数学ドリルって何だったんだ？計算能力は本当に必要？ベクトルの意義とは？今回は数学教育について話しました。| 解く人から問う人へ 人類の可能性を信じるSchip 教育と学習
kw: 勉強,教育,知性,学習,東大,受験
list1: <a href="/#philosophy">Philosophy</a>
list2: <a href="/prism">プリズム</a>
list3: <a href="/anchor">Anchor</a>
list4: <a href="https://compass.schip.me" target="_blank">Comapss</a>
---

{% include branchheader.html content='2017年3月20日<br>言語の文化　「どうも」と"OK"' %}

<section>
	
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
        {% include discussion-tr.html person="kodama" content="
        日本語でよく「置いておいて」とか言うけど、特に依頼じゃないような場合もあるよね。共用の机の上に特に何でもない紙を置こうとした時も、「ちょっとここに置いておいて」とか言うもんね。
        " %}
        {% include discussion-tr.html person="taniguchi" content="
        たしかに。そういう場合は英語で何というんだろう。
        " %}
        {% include discussion-tr.html person="kodama" content='
				直接ニュアンスを示す言葉は無いかもねぇ。<br>
				でも英語でも"let me put ~"とは言うかも。
        ' %}
        {% include discussion-tr.html person="taniguchi" content='
        それ系ね。意外と英語でもあるんだよね。ゴニョゴニョっとした言葉って。はっきり言うだけじゃない。"would you?"とかちょろっと言ったりするしね。
        ' %}
        {% include discussion-tr.html person="kodama" content="
        それって日本語の「大丈夫？」のニュアンスに近いかな。「それで大丈夫なんですか？」みたいな
        " %}
        {% include discussion-tr.html person="taniguchi" content="
        もはや日本語と英語に共通だけど、OKとも近いかもね。
        " %}
        {% include discussion-tr.html person="kodama" content="
        そうね。意味のふわっとしたやつだ。
        " %}
        {% include discussion-tr.html person="taniguchi" content="
				OKもかなり広く使うんだよね。昔アメリカでチップあげてOKって言われて、日本人感覚からすると「あれ、チップ少なかったかな？Thank youじゃないな、、」と思った。笑<br>
				あとで英語ネイティヴの友達に聞いたら「それはThank youだ」って言ってたけど。
        " %}
        {% include discussion-tr.html person="kodama" content="
				Thank youってはっきり言うほどじゃないけど、受け取りましたよ、程度の意味なんだろうね。<br>
				日本語で言うと、「どうも」って感じ？
        " %}
        {% include discussion-tr.html person="taniguchi" content="
				たしかに。「どうも」に近い。<br>
				宅急便屋さんとかタクシーの運転手さんに「どうも」とか言うもんね。<br>
				「どうも」はめちゃくちゃ広く使うなぁ。
        " %}
        {% include discussion-tr.html person="kodama" content="
				Thank youってはっきり言うほどじゃないけど、受け取りましたよ、程度の意味なんだろうね。<br>
				日本語で言うと、「どうも」って感じ？
        " %}
        {% include discussion-tr.html person="taniguchi" content="
				「ありがとう」的な「どうも」もあれば、挨拶でも言うしね。「どうもこんにちは」って。これも元は感謝だったのかな？
        " %}
        {% include discussion-tr.html person="kodama" content="
				訳もわからず「どーもどーも」連呼してる人とかもいるしね。
        " %}
        {% include discussion-tr.html person="taniguchi" content="
				いるいる。笑<br>
				そもそも「どうも」って何なんだ？<br>
				「どうにも」から来てるのかなぁ。
        " %}
        {% include discussion-tr.html person="kodama" content="
				そんな気はするね。でも、「どうにも」はあんまり使わない言葉かも。「どうにもならない」とかしか思いつかない。
        " %}
        {% include discussion-tr.html person="taniguchi" content="
				あとは山本リンダさんの「どうにもとまらない」とかいう曲もあるね。
        " %}
        {% include discussion-tr.html person="kodama" content="
				もしかしたら、「どうにも」は否定表現のみを伴うの言葉（つまり言語学でいう「否定極性表現」）なのかな？
        " %}
        {% include discussion-tr.html person="taniguchi" content="
				そうかもね。じゃ肯定だと「どうでも」かな？<br>
				となると、どれかからどれかが派生しているというよりは、もっと類語的な関係なのかも。
        " %}
				{% include discussion-tr.html person="kodama" content="
				確かに。これは調べてみてもおもしろいね。
        " %}
			</div>
		</div>
	</div>
</section>
