---
layout: default
title: 平成29年度第1問 Anchor 議論して勉強する東大現代文 | Schip 解くから問うへ
description: 【最新】議論して勉強する東大現代文 Anchorの平成29年度第一問版です。東大生たちの読解の過程をそのまま公開します。スマホから読めます。東大受験対策に。| Schip 解くから問うへ
kw: 東大,現代文,入試,過去問,受験,勉強,教育
list1: <a href="/#philosophy">Philosophy</a>
list2: <a class="selected">Anchor</a>
list3: <a href="https://compass.schip.me" target="_blank">Comapss</a>
list4: <a href="/inquiry-bot">問いボット(仮)</a>
---

{% include branchheader.html content="Anchor<br>平成29年度第1問" %}
<section class="anchor"> <!-- Tab-navのデザインのためのclass -->
	<div class="container">
		<div class="row margin-bottom-0">
			<div class="col-md-8 col-md-offset-2">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#q1" aria-controls="q1" role="tab" data-toggle="tab">設問(一)</a></li>
					<li role="presentation"><a href="#q2" aria-controls="q2" role="tab" data-toggle="tab">設問(二)</a></li>
					<li role="presentation"><a href="#q3" aria-controls="q3" role="tab" data-toggle="tab">設問(三)</a></li>
					<li role="presentation"><a href="#q4" aria-controls="q4" role="tab" data-toggle="tab">設問(四)</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="q1">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （一）「科学技術の展開には、人間の営みでありながら、有無をいわせず人間をどこまでも牽引していく不気味なところがある」(傍線部ア)とはどういうことか、説明せよ。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
	          <p>問題解決のための科学技術が、ひとりでに新たな問題を作り出し、更なる技術を要請するという自己展開の過程に、人間を搦め捕るということ。（65字）</p>
						<p class="heading3 text-center margin-top-64px">思考の目次</p>
	          <div class="shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>設問文読解</li>
										<li>傍線部読解</li>
									</ol>
								</li>
								<li>読解フェーズ
									<ol>
										<li>「人間の営み」でありながら「人間」を「牽引」していくという逆説性とはどういうことか？</li>
										<li>「有無をいわせず」「どこまでも」「不気味」の意味は何か？共通項は見出せるか？</li>
									</ol>
								</li>
								<li>表現フェーズ
									<ol>
										<li>「主導権」という観点</li>
									</ol>
								</li>
								<li>他社解答例講評</li>
							</ol>
	          </div>
	          <p class="heading3 text-center margin-top-64px">構成フェーズの議論</p>
						{% include discussion-tr.html person="kodama" content="設問文は、オーソドックスな「どういうことか、説明せよ。」だね。" %}
						{% include discussion-tr.html person="taniguchi" content="そうだね。一方で傍線部は、結構色々な要素が詰まっているみたいだ。まず、主題が「科学技術の展開」という無生物になっていることは注意したい。この構造は保存したいね。たぶん、表現フェーズでポイントになるんじゃないかな？" %}
						{% include discussion-tr.html person="kodama" content="だろうね。そして、「人間の営みでありながら〜人間を」という逆説も明らかなポイントだ。" %}
						{% include discussion-tr.html person="kameoka" content="間違いない。あと、「有無をいわせず」「どこまでも」「牽引」「不気味」の四つの言葉は、表現することはむずかしそうだなぁ。どこかで共通の根っこを持っていそうだけど、読解フェーズで本文と照らし合わせないと、まだよくわからないな。" %}
						{% include discussion-tr.html person="kodama" content="そうだね。まとめると、この設問のポイントは次の三つになりそうだ。<br>①「科学技術の展開」を主題にして書くこと。<br>②「人間の営み」でありながら「人間」を「牽引」していくという逆説性を示すこと。<br>③「有無をいわせず」「どこまでも」「不気味」の意味。<br><br>それでは、争点となりそうな③についてから、読解していこうか。" %}
	          <p class="heading3 text-center margin-top-64px">読解フェーズの議論</p>
						{% include discussion-tr.html person="taniguchi" content="「牽引」というのは、基本的には「問題を解決するためにつくった技術」が「問題を生み出し、新しい技術を要請する」というパラドックスのことだと思う。<br>というのも、傍線部の段落は、この「展開」の話で始まり、ウィルスの例と原発の例を出して、傍線部に至るという形になっているからね。" %}
						{% include discussion-tr.html person="kameoka" content="それは間違いない。ただ、テクノロジーがある種の運動性を持っているというのも、ポイントの一つだと思う。傍線部の直前は、「科学技術の展開が無限に続く」とは言えない、けれども、傍線部である、という流れだ。あと一行目にも「自己展開」という言葉がある。無限に続くとは言い切れないまでも、一回ぽっきりの話ではないという要素も表現したいところだね。" %}
						{% include discussion-tr.html person="kodama" content="「有無をいわせず」とか「どこまでも」とかについてはどう？これらの言葉は、かめの言った運動性が人間にとって「不可避」で「抗えない」という感じを示していると思う。" %}
						{% include discussion-tr.html person="taniguchi" content="そうだね。でも、主題はあくまで「科学技術の展開」であるということもこの問題のポイントだったから、そっちを中心に整理すると、「どこまでも」「有無をいわせず」の語感は、テクノロジーが自律していて、独自の生命を持ち、自分で発展していくというところに本質があると言えそうだ。" %}
						{% include discussion-tr.html person="kameoka" content="とすると「不気味」もしっくりきた！人間が作って動かしているテクノロジーが自律を始めることは「不気味」に違いないね。電源を切っていたはずのパソコンが勝手に起動して何かをダウンロードし始めたら薄気味悪いからね。" %}
						{% include discussion-tr.html person="kodama" content="
							まとめると、これらの要素について言及する必要がありそうだ。<br><br>
							<ol>
								<li>人間が作ったテクノロジーが人間を「牽引」するという循環。</li>
								<li>問題解決のために営まれているテクノロジーが新たな問題を生み出し、その解決のために新たなテクノロジーの開発を要請するという循環。</li>
								<li>「有無を言わさず」という言葉に示される、人間にとっての抗えなさ。</li>
								<li>「どこまでも」という言葉に示される、終わりの見えない不気味さ。</li>
								<li>「自己展開」という言葉に示される、テクノロジーの自律性。独自の生命感。</li>
								<li>③〜⑤で指摘した性質によって生まれる、①と②の二つの循環の不気味さ。</li>
							</ol><br>
							とても要素が多い。これは大変だ。" %}
						{% include discussion-tr.html person="taniguchi" content="全体の構造としては、「科学技術が自律的にXし続けることに、人間が抗えない」としてはどうだろう。" %}
						{% include discussion-tr.html person="kameoka" content="良いと思う。では一旦こんな解答にしてみた。そろそろ表現フェーズに移ろうか。" %}
						<p class="anchor-header kaitou-zantei">問題解決のために生まれながらも、自律的に新たな問題を生み出し、さらなる科学技術を要請するという科学技術に宿る終わりなき運動性に人間は抗えないということ。（76字）</p>
	          <p class="heading3 text-center margin-top-64px">表現フェーズの議論</p>
						{% include discussion-tr.html person="taniguchi" content="うーん。長いし、冗長だし、あとは、人間が営むのに人間は「牽引」されてしまうという逆説感もちょっと見えづらい気がする。" %}
						{% include discussion-tr.html person="kameoka" content="もしかしたら「抗えない」という言葉が答案の締めとして上手くないのかもしれないね。テクノロジーの自己展開ということに対して、こう考えたらどうだろう？<br>人間が最初に技術を生み出したとき、人間は技術に対して主導権を持っていた。それに対して、技術が自己展開する局面では、人間は技術が次々に提起する問題に対応して技術を開発し続けることになる。<br>ここでは人間は、主導権を奪われていて、半ば技術の奴隷になっている。" %}
						{% include discussion-tr.html person="kodama" content="主導権という観点は面白い。おれのイメージだと、最初は自分が主導していたのに、いつのまにか技術がつくった泥沼に人間は引きずりこまれていくという感じだ。そういうニュアンスで、こんな風に書いてみたらだろう？「不気味」さも出ていて、悪くないんじゃない？" %}
						<p class="anchor-header kaitou">問題解決のための科学技術が、ひとりでに新たな問題を作り出し、更なる技術を要請するという自己展開の過程に、人間を搦め捕るということ。（65字）</p>
						<p class="heading3 text-center margin-top-64px">他社解答例講評</p>
						<p class="anchor-header kaitou-a">人間が問題を解決するための科学技術が新たに想定外の問題を生み、その解決のための発展を際限なく人間に強いてくるということ。（60字）</p>
						<p class="anchor-header saiten">　4点（構成点2点　読解点2点　表現点0点）</p>
						{% include discussion-tr.html person="taniguchi" content="科学技術の自律性について、明確に指示する言葉が欲しかったね。" %}
						{% include discussion-tr.html person="kodama" content="あと、「その解決のための発展」が科学技術の開発であるということを示さないと、循環性は強調されないと思う。とは言え、簡潔にまとまった良い答案だとは思う。特に減点はないね。" %}
						<p class="anchor-header kaitou-b">困難を人間の力で解決するための科学技術が問題を作り出し、その技術的な解決へと人間を駆り立てつつ、技術では扱えない難題さえ生み出すこと。（67字）</p>
						<p class="anchor-header saiten">　3点（構成点1点　読解点2点　表現点0点）</p>
						{% include discussion-tr.html person="taniguchi" content="やはり、科学技術の自律性、独自の生命を持って運動しているイメージは、答案に必須の要素だと思う。「不気味」さの根源はそこにあるのだから。" %}
						{% include discussion-tr.html person="kameoka" content="そうだね。「有無を言わさず」の表現が「駆り立てつつ」では弱い。設問(二)の主な論点であるテクノロジーが強いる新たな倫理的判断について言及したけど、その分必要な要素が手薄な印象だ。構成点は減点されるだろう。" %}
						<p class="anchor-header kaitou-c">問題解決のための人為たる科学技術自体が問題をもたらし新たな技術を生むという展開には、人間の統御を超えて自律的かつ無限に進展する技術の本質が内在するということ。（79字）</p>
						<p class="anchor-header saiten">　3点（構成点2点　読解点2点　表現点-1点）</p>
						{% include discussion-tr.html person="kodama" content="内容は完璧だ。ただ、やはり長すぎる。表現点は減点されてしまうだろうね。少し推敲すれば同じ内容でより簡潔に書くこともできそうなのに、とても勿体無い答案だ。" %}
						<p class="anchor-header kaitou-d">直面する問題を新たな技術の開発によって解決しようとするテクノロジーは、人間を次々に新たな問題に直面させる気味悪さを持つということ。（65字）/p>
						<p class="anchor-header saiten">　2点（構成点1点　読解点1点　表現点0点）</p>
						{% include discussion-tr.html person="kodama" content="新たな問題を創出するのもテクノロジーであるという重要な点が抜けている。この点を言明しないと、循環が示されないね。" %}
						{% include discussion-tr.html person="taniguchi" content="テクノロジーの人為性についてもあまり言われていないね。二つの循環共に言及が不十分だ。これでは、構成の面でも良いとは言えないし、読解も正しくできているか不明だ。構成点と読解点が両方減点されるでしょう。" %}
						<p class="heading3 text-center margin-top-64px">他社解答例リンク</p>
						<ul>
							<li><a href="http://www2.sundai.ac.jp/yobi/sv/sundai/sokuhou/sokuhou_D/1337447066090.html" rel="nofollow" target="_blank">「A社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://kaisoku.kawai-juku.ac.jp/nyushi/honshi/17/t01.html" rel="nofollow" target="_blank">「B社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://www.toshin.com/sokuho/univ.php?univname=%C5%EC%B5%FE%C2%E7%B3%D8&gakubuname=%CA%B8%B2%CA%B0%EC%CE%E0%A1%A2%CA%B8%B2%CA%C6%F3%CE%E0%A1%A2%CA%B8%B2%CA%BB%B0%CE%E0&kamokuname=%B9%F1%B8%EC" rel="nofollow" target="_blank">「C社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://sokuho.yozemi.ac.jp/sokuho/mondaitokaitou/1/1277881_4420.html" rel="nofollow" target="_blank">「D社」</a>（最終閲覧日時：平成29年3月15日）</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade " id="q2">
			<div class="setsumon">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							（二）「単なる道具としてニュートラルなものに留まりえない理由」(傍線部イ)とはどういうことか、説明せよ。
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
						<p>テクノロジーが可能にした行為の実行を人間が判断せざる得なくなった時点で、その少なくとも一方の選択肢を支える倫理は必ず棄却されるということ。（69字）</p>
						<p>現にテクノロジーが新たな倫理判断を人間に強いていることが、テクノロジーは倫理と無縁であるという原則論の虚構性を如実に物語っているということ。（70字）</p>
						<p class="heading3 text-center margin-top-64px">思考の目次</p>
						<div class="shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>設問文読解</li>
										<li>傍線部読解</li>
										<li>なぜこの設問は「『〜留まりえない』のはなぜか」という設問ではなかったのだろうか？</li>
									</ol>
								</li>
								<li>読解フェーズ＜１＞
									<ol>
										<li>ただ新たな問題を提示するだけならば、「ニュートラル」ではあり続けるはずだ。それを「ニュートラル」では無くしてしまうのは何なのか？</li>
										<li>「〇〇ができる」と言われた時、それをすべきかどうかについて、人間はどう思う傾向がありそうか？</li>
										<li>「留まりえない」という表現のニュアンスは何か？</li>
									</ol>
								</li>
								<li>表現フェーズ
								</li>
								<li>読解フェーズ＜２＞
									<ol>
										<li>「できること」から「すべきこと」を勝手に人間が引き出してしまいがちだというのが仮に本当だとしても、それは傍線部の説明になっていないのではないだろうか？もっと論理的な必然性はないのか？</li>
										<li>本文で扱われている諸問題の論理構造的な共通項は何か？</li>
									</ol>
								</li>
								<li>読解フェーズ＜３＞
									<ol>
										<li>テクノロジーが「ニュートラル」でありえないのは、なぜ「離れている」ところにあると言えるのだろうか？</li>
									</ol>
								</li>
							</ol>
						</div>
						<p class="heading3 text-center margin-top-64px">構成フェーズの議論</p>
						{% include discussion-tr.html person="kameoka" content="この設問文も「どういうことか、説明せよ」というオーソドックスなものだね。" %}
						{% include discussion-tr.html person="kodama" content="「どういうことか」と聞かれたら、傍線部で書かれていることを別の表現で言えばいいんだよね。じゃあ、傍線部に注目すべきところはどこだろう。" %}
						{% include discussion-tr.html person="taniguchi" content="単なる道具ってなんのことを言ってるかは確定しないといけないよね。" %}
						{% include discussion-tr.html person="kameoka" content="あとは、ニュートラルってどういうことなのか。" %}
						{% include discussion-tr.html person="kodama" content="さらに、ニュートラルに留まり得ない理由と書いてあるのだから、何かが道具としてニュートラルなものに留まりえないのはなぜか説明しねければだね。" %}
						{% include discussion-tr.html person="kodama" content="読解に関係するかはまだわからないけど、よく設問を見ると「…理由」とは「どういうことか」という構造になっているよね。これって、どういうことなのだろう。傍線を「理由」まで引っ張ったのには、どういう意図があったのだろう。「…」の理由を聞きたいなら、「…」に傍線を引っ張って「なぜか」と聞けばよかったはずなのに。不思議だ。" %}
						<p class="heading3 text-center margin-top-64px">読解フェーズの議論</p>
						{% include discussion-tr.html person="taniguchi" content="た:本文にある通り、テクノロジーそのものは価値判断と無縁だよね。その意味ではテクノロジーは確かにニュートラル。つまり、ニュートラルというのは価値中立だということだね。テクノロジーは、人間が「できる」行為を増やすだけで、「すべき」かどうかは触れない。「これ使ったら、これできますよ」しか言っていない。" %}
						{% include discussion-tr.html person="kameoka" content="だからこそ、一見テクノロジーは道具のように思える。だけど、テクノロジーの発展に伴って「できる」行為が増えると、これまで問題にならなかったことが問題になる。テクノロジー自体はニュートラルかもしれないけど、そのテクノロジーを人間が使用するとなるとニュートラルではいられないということだろうね。" %}
						{% include discussion-tr.html person="kodama" content="それはそうなんだけど…。俺はどうしても「ニュートラル」という言葉の響きが気になる。" %}
						{% include discussion-tr.html person="kameoka" content="ユージンの言っていることが筆者が伝えたいことだったと仮定すると、筆者の日本語が変だと言わざるをえない。" %}
						{% include discussion-tr.html person="kodama" content="だって、問題を提示するだけでは、ニュートラルなままじゃない？？" %}
						{% include discussion-tr.html person="kodama" content="例えば、「今日は挨拶について話しましょう」と先生が教室で言ったとして、それは挨拶の価値には触れていないというか。" %}
						{% include discussion-tr.html person="kameoka" content="それはどうだろう。例えば、マスメディアの「論点設定力」が話題になる背景には、問題を設定すること自体が結論に影響を及ぼすことが仮定されているわけだし。問題を提起すること自体が、価値判断に影響を及ぼすという主張も正しい気がする。" %}
						{% include discussion-tr.html person="taniguchi" content="今の例だと、「挨拶について話しましょう」と言っている時点で「挨拶＝すべき」が成り立っている気がする。とはいえ、こだまの言いたいことは分かる…。もうちょっと詳しく言うと？" %}
						{% include discussion-tr.html person="kodama" content="例えば、「この化粧品を使ったら、美人になりますよ」と言われたとき、化粧品は技術にしか過ぎないのだけど、そこには「化粧品」を使ったほうがいいという含意があるという気がする。" %}
						{% include discussion-tr.html person="kameoka" content="技術は、直接的には価値判断を含んでいないけど、間接的に価値判断を含んでいるということ？？ " %}
						{% include discussion-tr.html person="kameoka" content="「Xできる」ということは、実は「Xすべき」を含んでいる？？" %}
						{% include discussion-tr.html person="kodama" content="聞いていて思ったのは、技術が間接的に価値判断を含んでいるというのは、擬人化すると口の上手いセールスマンのような感じ。「決めたのはあなたですよ」と言いつつも、結局提案したことが大きく決断に影響している。" %}
						{% include discussion-tr.html person="taniguchi" content="その場合、「Xできる」ことが論理的に「Xすべき」を含んでいるのではなく、さっきもちょっと触れたけど人間の側が「Xできる」から「Xすべき」を引き出してしまっているということだね。「できる」ことと「すべき」ことって本来は異なるはずなのに、そう簡単には切り離せないってことだね。" %}
						{% include discussion-tr.html person="kodama" content="よく読むと、傍線部の前には、「テクノロジーは、テクノロジーを統御する目的とは無縁でなければならない」 って書いてあるね。「なければならない」ということは、放っておくと、テクノロジーは目的と関わりを持ってしまうということを暗示しているね。そこの媒介を人間がしているというわけか。" %}
						{% include discussion-tr.html person="kameoka" content="その意味では、「Xできる」ことが提示された場合、人間は「XかYか」を決断するのではなくて、「Xを断るか」を決断しているということになりそうだね。「XかYか」がニュートラルな決断だとしたら、「Xという誘惑があるんですが抗えるか」という決断はニュートラルではない。そして、「Xを断るか」という解釈のほうが、「ニュートラルなものに留まりえない」という傍線部の語感には近そうだ。" %}
						{% include discussion-tr.html person="kodama" content="もっと言うと、「留まりえない」という表現は、テクノロジー自身もテクノロジーを制御できていないことを示唆していると思う。古典でいうところの「自発」のニュアンスを感じる。人間も抗えないが、テクノロジーも抗えない。その不気味な「運動」それ自体、「システム」それ自体をうまく描き出せる解答でありたいね。" %}
						{% include discussion-tr.html person="kameoka" content="技術と人間の関係が複雑化させているような気がするな。技術と人間の相互作用によって、人間も技術も統御できない巨大なシステムが動いていくという怖さが、筆者の表現から伝わってくるね。" %}
						{% include discussion-tr.html person="kodama" content="本文から明確に導出できることではないけれど…。「できること＝すべきこと」となっている世の中の潮流に筆者は警鐘を鳴らしていそう。例えば、「妊婦の97％が中絶を選んだ」というデータの引用の仕方一つとっても。" %}
						{% include discussion-tr.html person="kameoka" content="テクノロジーが「中絶すべき」だと警告してくると人間は反発したくなりそうだけど、「あなたの子どもは染色体異常ですよ」という事実だけ伝えて、暗に「中絶したほうがいいですよ」と示してくるのが怖いな…。無意識に突きつけられているので、人間は気付いたら問題に絡め取られていて、逃げられなく成っているというか。" %}
						{% include discussion-tr.html person="taniguchi" content="傍線部の前が「『すべきこと』から離れているところに」となっている面白さもそこにあるのかもね。『すべきこと』から離れてる。つまりは、テクノロジー自体は何も言わないからこそ、そのテクノロジーについて人間の側が何かを言わなければならない。その時に、「できる」ことの領域と「すべき」ことの領域が重なり合ってしまう。" %}
						{% include discussion-tr.html person="kameoka" content="これまでの議論をまとめてみるとこうなるね。" %}
						{% include discussion-tr.html person="kameoka" content="①テクノロジーは、「～すべき」という判断には関わらず、「～できる」という可能性をただ提示するだけである。" %}
						{% include discussion-tr.html person="kameoka" content="②しかし、ある行為の可能性が提示されると、人間はその行為を実行するかどうか判断しなければならなくなる。" %}
						{% include discussion-tr.html person="kameoka" content="この二つがうまくまとめられていればいいね。" %}
						<p class="anchor-header kaitou-zantei">テクノロジーは行為の実行可能性を示すに過ぎないのに、可能性が広がったが故に新たな問題が生じ、それに対する価値判断をせざるを得なくなるということ。（72字）</p>
						<p class="heading3 text-center margin-top-64px">表現フェーズの議論</p>
						{% include discussion-tr.html person="kameoka" content="これでもいいけど少し長いね。もう少し文章を洗練させることができると思う。" %}
						{% include discussion-tr.html person="taniguchi" content="行為の実行可能性を示すに過ぎないというのが少し冗長だから、ニュートラルというのを踏まえて、「テクノロジーは本来価値中立とされるが」と変えてみたらどうだろう。" %}
						<p class="anchor-header kaitou">テクノロジーは本来価値中立とされるが、行為の実行の可能性を広げるがゆえに新たな問題を生み、それに対する価値判断を強いるということ。（65字）</p>
						<p class="heading3 text-center margin-top-64px">読解フェーズの議論２</p>
						{% include discussion-tr.html person="kodama" content="先日は、「人間の側が『Xできる』から『Xすべき』を引き出してしまっている」という話があったわけだけど、実はそれがまだしっくりきていない。そういうことはありそうだけど、なぜそうしてしまうのか、まだ謎のままだ。" %}
						{% include discussion-tr.html person="kameoka" content="某予備校の解答速報では「欲望」という言葉で表現されていたけど、「思わず〇〇してしまう傾向」のことを「欲望」とかという言葉で示しただけでは、その傾向性の内実を説明したとは言えないね。" %}
						{% include discussion-tr.html person="taniguchi" content="内実を説明していないということ以前に、そもそも「欲望」とかいう言葉は不適切だと思う。延命治療にしても、人工中絶の場合にしても、少しでも生き永らえたいとか、障害児を生んでしまって不幸にさせたくないとか思うことって、欲望なのだろうか？もっと、何かを避けたい、何かを恐れるというような感情に近いのではないか。" %}
						{% include discussion-tr.html person="kodama" content="確かに、テクノロジーによって新たな欲望が生まれるということはあるだろうが、それはテクノロジーの生み出す可能性の一部に過ぎないかもしれない。かつ、この問題文の例にも当てはまってない。では、問題文で提示されている論点についてより一般化するためには、どうしたらいいだろうか？" %}
						{% include discussion-tr.html person="taniguchi" content="一般化するというよりは、テクノロジーの提示する可能性に備わる構造みたいなものがあるのではないか？たぶん、テクノロジーの提示する可能性には、倫理判断が必然的に含まれて.." %}
						{% include discussion-tr.html person="kodama" content="あ、その見方で見れば、この問題文で挙げられている例では、いつも、選択肢の片方は倫理によって支えられていることが注目できる。中絶の場合も、延命の場合も、選択肢の片方は殺人の禁忌によって支えられている。だとすれば、倫理によって支えられた選択肢が実際に選ばれないということは、その倫理が捨てられるということなんだ。" %}
						{% include discussion-tr.html person="taniguchi" content="なるほど。つまり、倫理を真に脅かすのは、人間の選んだ選択肢以上に、人間の選ばなかった選択肢というわけか。そして、その「選ばなかった」という事実を人間に突きつけるのがテクノロジーなのだね。テクノロジーによって可能性が実現されることがなければ、どんなに「〇〇するか」という問いを立てても、思考実験に過ぎないわけだから。" %}
						{% include discussion-tr.html person="kodama" content="つまり、まとめれば、テクノロジーが可能性を提示した時点で、それは実は何らかの倫理が否定されるだろうことを内包している。その意味で、テクノロジーによる可能性の提示と倫理判断は不可分なんだ。" %}
						{% include discussion-tr.html person="kameoka" content="ここまでの話をまとめると、テクノロジーが実行の範囲を広げることで、今までは何かをなすことが可能でもなかった領域に、する/しないという対立軸ができる。すると、できたはずなのにしなかったという選ばれなかった選択肢が生じることになる。その時に、選ばれなかった方を暗に（明に）支えていた倫理が棄却されることになる。それはとりもなおさず価値判断をしてるということだね。" %}
						<p class="anchor-header kaitou">テクノロジーの発展によって増えた選択肢を判断することによって、その少なくとも一方の選択肢を支える倫理は必ず棄却されるということ。（64字）</p>
						<p class="heading3 text-center margin-top-64px">読解フェーズの議論３</p>
						{% include discussion-tr.html person="kodama" content="でも、実はまだしっくり納得しきれないことがある。筆者は「こうして『すべきこと』から離れているところに」という言葉で傍線部を限定していたよね。今日のこれまでの議論で、テクノロジーが「ニュートラル」でありえない理由はわかったけど、それはなぜ「離れている」ところにあると言えるんだろう？" %}
						{% include discussion-tr.html person="taniguchi" content="それはあれじゃん、人間が勝手に「テクノロジーは倫理的にニュートラルだ」ということを原則にしてしまっているからこそ、現状がそれと乖離していることが見えづらいということでは？" %}
						{% include discussion-tr.html person="kodama" content="たしかにそれはそう。だけど、それは単に「すべきこと」からテクノロジーが離れているとされているから問題がより厄介になっている、ということを言っているだけで、「すべきこと」からテクノロジーが離れているからこの問題が生じるんだとまでは言えてない気がする。" %}
						{% include discussion-tr.html person="taniguchi" content="確かにそうだ。もっとメタ的に考えてみたらどうだろう？つまり、テクノロジーが「すべきこと」と無縁であるということ自体が、一種の原則論で、虚構に過ぎないし、その点で倫理と同じなのでは？" %}
						{% include discussion-tr.html person="kameoka" content="それは本当に面白い読みだ！！つまり、現にテクノロジーが実行の可能性の提示の先に人間を「放擲」している事それ自体が、実はテクノロジーにまつわる倫理の虚構性を暴き出しているというわけか。" %}
						<p class="anchor-header kaitou">テクノロジーはただ可能性のみを示すべきで、現にそういうものだという想定にすでになんらかの価値判断が紛れ込んでいるということ。（61字）</p>
						<p class="heading3 text-center margin-top-64px">他社解答例講評</p>
						<p class="anchor-header kaitou-a">実行の方法を与える知識であり、是非の判断とは本質的には無縁である一方で、行為の実行可能性を広げるがゆえに新たな問題に対しての決断を人間に要求するということ。(78字)</p>
						<p class="anchor-header saiten">　2点（構成点2点　読解点1点　表現点-1点）</p>
						{% include discussion-tr.html person="kodama" content="実行の方法を与える知識であるってどういうことだろうね。テクノロジーは確かに知識であるかかもしれないけれど、本文中では道具だと言われているから、知識だとしてしまうのはなんだか腑に落ちないな。本文でが科学技術とテクノロジーは使い分けられているし。（詳細は後述）テクノロジー読解点はマイナス一点だね。" %}
						{% include discussion-tr.html person="taniguchi" content="そうだね。でも、全体的な方向としてはいいと思うよ。あと字数が多いよね。（78字）" %}
						{% include discussion-tr.html person="kameoka" content="表現点はマイナス1点かな。" %}
						<p class="anchor-header kaitou-b">目的や価値とは独立に人間の可能性を広げるテクノロジーが、新たに人間の内に欲望を呼びさまし、その倫理的判断を迫るということ。</p>
						<p class="anchor-header saiten">　4点（構成点2点　読解点１点　表現点1点）</p>
						{% include discussion-tr.html person="kameoka" content="この解答では、テクノロジーが価値中立であることも表現されているね。ただし、人間の内に欲望を呼び覚ますというのが気になる。(前述の議論)" %}
						{% include discussion-tr.html person="kameoka" content="そこで、この解答は読解点が1点減点かな。表現点は65字以内でまとまってるし文章の意味もすんなり取れるし一点加点だね。" %}
						<p class="anchor-header kaitou-c">科学技術は行為の妥当性に囚われないために新たな可能性を次々に切り拓き、その行為に関して倫理の基準を新たに問う必要を生じさせるということ。</p>
						<p class="anchor-header saiten">　3点（構成点2点　読解点1点　表現点0点）</p>
						{% include discussion-tr.html person="taniguchi" content="ここでは、テクノロジーはって言ってるよね。科学技術って１単語で括られることが多いけど、英語にすると、science and technologyで2つの概念は分けられている。これは少し突っ込んだ話をすると、学(知識)と技術は明確に異なる。学（知識）は物事の理論的な把握に関わって、技術はその理論に基づいた製作のことである。例えば、音楽はそもそも音とは何か、それは振動だ。では心地いい振動はどういう条件の時か、などを考えるのは学。そうした知見に基づいて、ではギターはこういう風に作ったほうがいいとか、ハープはこういう風に作ったほうがいいとかに応用していくのが技術である。その意味で、技術は学の道具とも言えるね。ここでは、明確にテクノロジーのことを道具として扱っているから、科学技術とするのは不適格だね。" %}
						{% include discussion-tr.html person="kodama" content="じゃあこれも読解点が1点減点かな。６８字なので表現点も加点なしだね。" %}
						<p class="anchor-header kaitou-d">本来価値中立的であるテクノロジーは、そのことによってかえって人間に何をなすべきかという新たな判断と行動を迫る働きをするということ。</p>
						<p class="anchor-header saiten">　4点（構成点2点　読解点1点　表現点1点）</p>
						{% include discussion-tr.html person="kodama" content="そのことによってかえってというところを説明してほしいな。" %}
						{% include discussion-tr.html person="kameoka" content="そうだね。そこが解答の肝でもあるからね。なんか傍線部の単純な言い換えって感じがするね。読解点が減点だね。表現点は65字なので加点してもいいと思う。" %}
						<p class="heading3 text-center margin-top-64px">他社解答例リンク</p>
						<ul>
							<li><a href="http://www.toshin.com/sokuho/univ.php?univname=%C5%EC%B5%FE%C2%E7%B3%D8&gakubuname=%CA%B8%B2%CA%B0%EC%CE%E0%A1%A2%CA%B8%B2%CA%C6%F3%CE%E0%A1%A2%CA%B8%B2%CA%BB%B0%CE%E0&kamokuname=%B9%F1%B8%EC" rel="nofollow" target="_blank">「A社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://www2.sundai.ac.jp/yobi/sv/sundai/sokuhou/sokuhou_D/1337447066090.html" rel="nofollow" target="_blank">「B社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://kaisoku.kawai-juku.ac.jp/nyushi/honshi/17/t01.html" rel="nofollow" target="_blank">「C社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://sokuho.yozemi.ac.jp/sokuho/mondaitokaitou/1/1277881_4420.html" rel="nofollow" target="_blank">「D社」</a>（最終閲覧日時：平成29年3月15日）</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="q3">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （三）「実践的判断が虚構的なものでしかないことは明らか」(傍線部ウ)とあるが、なぜそういえるのか、説明せよ。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
	          <p>価値判断を支える基準は時代や場所によって揺れ動くことは経験的に明らかであるように、ある時点での想像によらない価値判断はあり得ないから。(65字)</p>
						<p class="heading3 text-center margin-top-64px">思考の目次</p>
						<div class="shikounomokuji">
						  <ol>
						    <li>構成フェーズ
						      <ol>
						        <li>設問文読解</li>
						        <li>傍線部読解</li>
						      </ol>
						    </li>
						    <li>読解フェーズ
						      <ol>
						        <li>実践的判断とは何か。</li>
						        <li>実践的判断が虚構的でしかないことが明らかなのはなぜか。</li>
						      </ol>
						    </li>
						    <li>表現フェーズ：今回は無し</li>
						    <li>他社解答例講評</li>
						  </ol>
						</div>
						<p class="heading3 text-center margin-top-64px">構成フェーズの議論</p>
						{% include discussion-tr.html person="kameoka" content="「なぜそういえるのか」という設問だから、傍線部のことが主張できる理由を考えていけばいいね。" %}
						{% include discussion-tr.html person="kodama" content="傍線部がなんといっているかというと、「実践的判断が虚構的なものでしかないことは明らか」ということだから、実践的判断が虚構的なものでしかないことが明らかなのはどうしてかということだね。" %}
						{% include discussion-tr.html person="taniguchi" content="この問題に答えるには、まず実践的判断がどういうことかを考えて、その実践的判断が虚構的なものでしかないことが明らかだといえるのはなぜかを考えていけばいいね。" %}
						<p class="heading3 text-center margin-top-64px">読解フェーズの議論</p>
						{% include discussion-tr.html person="taniguchi" content="まず、実践的判断とはどういうことだろうか。第二問とも関わるけど、筆者はその前でいろいろな具体例を交えながら価値判断のことについて述べているよね。その後でも、倫理的な基準が砂上の楼閣であることなどを指摘している。これらを踏まえると実践的判断は価値判断と同じことを指し示していると思う。" %}
						{% include discussion-tr.html person="kameoka" content="そうだね。それはそれでいいと思う。そうだとすると、その判断が虚構的でしかないのが明らかなのは一体どうしてだろう。" %}
						{% include discussion-tr.html person="kodama" content="筆者はその前の文章では、中絶の問題であっても最終的な決定基準があるとは思えないといってるね。中絶を肯定する論理も否定する論理も等しくそれらを基礎付けるものが欠けていると。" %}
						{% include discussion-tr.html person="taniguchi" content="どういうことだろ。例えば、中絶を肯定する場合。障害を持った子どもが生まれてきても、生まれてきた子が障害をもったまま長い人生を生きていくことがかわいそうだというのが考えられるね。でもこの場合は、それは本人の意思ではなく親とか家族の意思であるし、あくまで推定にすぎない。障害を負っていても幸せに暮らしている人はいるよね。だから結局、想像と推定で決定したことになる。" %}
						{% include discussion-tr.html person="kameoka" content="逆に、中絶を否定する場合はどうだろう。否定する場合は、命を大切にしなければならないというのがありそうだ。でも命をなぜ大切にしなければいけないのか。じゃあ豚を殺すなとかそういう話になるよね。それに、まだ「人間らしい」姿のない胎児は「人間」なのか。人間を殺したら罪に問われるけど、胎児は「殺し」（中絶）ても罪には問われない。しかも障害を持った子どもを育ていていくのは大変だ。<br>生活に余裕がない夫婦（もしかしたらシングルマザーかもしれない）が障害を持った子どもは育てられないと判断して堕胎を決めることを一方的に断罪できるか。ここにも絶対的な根拠を見つけ難いね。" %}
						{% include discussion-tr.html person="kodama" content="あらゆる判断にはそれを支える絶対的な根拠がなさそうだね。しかも、傍線部の後には、時と場合によって判断が大きく異なることも書かれている。これはよくあることだね。「個人の意見が大事」と言われながらも、「みんなの和を乱すんじゃない」と叱られることもあったりする。判断なんて変わりやすいのは誰しも経験したことだろう。" %}
						{% include discussion-tr.html person="kodama" content="つまり、論理的にも経験的にも判断の絶対的な根拠を見つけ出すのは難しいね。そういう意味で、価値判断は作られたものでしかないっていうことなんだね。" %}
						{% include discussion-tr.html person="kameoka" content="
						  まとめると、<br><br>
						  <ol>
						    <li>価値判断はある基準によって支えられている</li>
						    <li>しかしその基準は絶対的なものでもなく時と場合によって変化しやすいものである</li>
						  </ol><br>
						  という点が含まれているといいね。" %}
						<p class="anchor-header kaitou-zantei">価値判断を支える基準が時と場合によって揺れ動くことから明らかであるように、絶対的な基準というものは存在しないから。（57字）</p>
						{% include discussion-tr.html person="taniguchi" content="字数も少ないし、分かりにくかったり冗長な表現もない。これはもう完成答案でいいと思う。" %}
						<p class="heading3 text-center margin-top-64px">他社解答例講評</p>
						<p class="anchor-header kaitou-a">何をなすべきかという判断は、その時々の人間の想像力や価値判断に基づく可変的なものであり、そこに実体的で明確な根拠は存在しないから。（65字）</p>
						<p class="anchor-header saiten">　4点（構成点2点　読解点2点　表現点0点）</p>
						{% include discussion-tr.html person="taniguchi" content="これはいい答案だと思う。文章のまとまりもいいし、65字という少ない字数でうまく言い当てている。何をなすべきかという判断は、その時々の価値判断に基づくという表現の同語反復が少しきになるかな。。。" %}
						{% include discussion-tr.html person="kodama" content="そうだね。表現点の加点はなしかな。" %}
						<p class="anchor-header kaitou-b">科学技術の統御に関わる倫理的決定基準を支える論理は、他との関係性の中でつくられた可変的なもので確固たる基礎づけが欠けており、そもそも虚構性をもっているから。（78字）</p>
						<p class="anchor-header saiten">　4点（構成点2点　読解点2点　表現点-1点）</p>
						{% include discussion-tr.html person="taniguchi" content="いいと思うけど、長いよね。78字を解答用紙に埋めると、かなり読みにくくなる。表現点は原点かな。" %}
						<p class="anchor-header kaitou-c">行為に関わる判断を最終的に決定する基準を支えるはずの概念自体が確固たるものであらず、実際その判断は時代とともに変動しているから。（64字）</p>
						<p class="anchor-header saiten">　4点（構成点2点　読解点2点　表現点0点） </p>
						{% include discussion-tr.html person="taniguchi" content="基準を支える概念とするならば、実際その判断は〜のところは、実際その概念は〜の方が文章としての通りはいいよね。" %}
						{% include discussion-tr.html person="kodama" content="確かに、64字でまとまっているけど表現点の加点はなしかな。" %}
						<p class="anchor-header kaitou-d">実践的判断に究極的な根拠はなく、どのような判断でもそれを導く論理を想像力によって恣意的に構築できてしまうから。(55字)</p>
						<p class="anchor-header saiten">　2点（構成点1点　読解点1点　表現点0点）</p>
						{% include discussion-tr.html person="taniguchi" content="この答案は字数もいいし、表現もうまくまとまっていていいのではないかと思うよ。" %}
						<p class="heading3 text-center margin-top-64px">他社解答例リンク</p>
						<ul>
							<li><a href="http://www.toshin.com/sokuho/univ.php?univname=%C5%EC%B5%FE%C2%E7%B3%D8&gakubuname=%CA%B8%B2%CA%B0%EC%CE%E0%A1%A2%CA%B8%B2%CA%C6%F3%CE%E0%A1%A2%CA%B8%B2%CA%BB%B0%CE%E0&kamokuname=%B9%F1%B8%EC" rel="nofollow" target="_blank">「A社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://sokuho.yozemi.ac.jp/sokuho/mondaitokaitou/1/1277881_4420.html" rel="nofollow" target="_blank">「B社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://kaisoku.kawai-juku.ac.jp/nyushi/honshi/17/t01.html" rel="nofollow" target="_blank">「C社」</a>（最終閲覧日時：平成29年3月15日）</li>
						  <li><a href="http://www2.sundai.ac.jp/yobi/sv/sundai/sokuhou/sokuhou_D/1337447066090.html" rel="nofollow" target="_blank">「D社」</a>（最終閲覧日時：平成29年3月15日）</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade " id="q4">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （四）「テクノロジーは、人間的生のあり方を、その根本のところから変えてしまう」(傍線部エ)とはどういうことか、本文全体の論旨を踏まえた上で、100字以上120字以内で説明せよ。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
	          <p>人間が問題解決のために生んだテクノロジーは、行為の可能性を提示し、生を支えていた虚構の虚構性を曝け出しながら自己展開するので、人間は倫理的判断に迫られ続けることとなり、生きるために虚構を再構築しながら生き続ける羽目になったということ。（117字）</p>
						<p>虚構と共に生きてきた人間は、自己展開するテクノロジーによって新たな行為の実行可能性に放擲されることで、虚構の虚構性に気付きつつも倫理的判断をし続けなければならなくなり、生きるために虚構を再構築し続けなければならない存在になったということ。（119字）</p>
						<p>人間は虚構を作り出すことによって価値体系の中で生きることが可能となる。しかしテクノロジーの発展はそうした価値体系を無効にするないしは変質させる。そのことによって新たな問題が生じ、人間はそれに対処するために新たな虚構-価値体系を作るということ。（117字）</p>
	          <div class="anchor-header shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>設問文読解</li>
										<li>傍線部読解</li>
									</ol>
								</li>
								<li>読解フェーズ
									<ol>
										<li>傍線部に着目して
											<ol>
												<li>「人間的生のあり方」とは？</li>
												<li>「根本のところから変えてしまう」とは？</li>
											</ol>
										</li>
										<li>本文全体に着目して
											<ol>
												<li>「テクノロジー」とはなにか？どんな特徴を持っているか？</li>
												<li>「なぜ」「どうやって」根本のところから変えてしまうのか？本文全体の趣旨は？</li>
												<li>人間的生のあり方とは何か</li>
												<li>テクノロジーが人間的生のあり方を根本のところから変えるとはどういうことか。</li>
											</ol>
										</li>
									</ol>
								</li>
								<li>表現フェーズ</li>
								<li>他社解答例講評</li>
							</ol>
	          </div>
						<p class="heading3 text-center margin-top-64px">構成フェーズの議論</p>
						{% include discussion-tr.html person="kameoka" content="まずはセオリー通り、設問文を見よう。これは「どういうことか」と聞かれてるから、傍線部を別の仕方で表現すればいいね。" %}
						{% include discussion-tr.html person="kameoka" content="ただし、「本文全体の趣旨を踏まえて」とあるからそこに注意しないといけない。どこまで本文全体の趣旨を直接解答に書くかは、本文を読解しながら考えよう。" %}
						{% include discussion-tr.html person="taniguchi" content="それを踏まえた上で、傍線部に着目してみると、「テクノロジーは人間的生のあり方を、その根本のところから変えてしまう」とあるので、論じるべきことをいくつかに切り分けることができるね。" %}
						{% include discussion-tr.html person="taniguchi" content="ここでは、２つのことが問われている。「人間的生のあり方」とはなにか。そして、「根本のところから変えてしまう」とはどういうことか。" %}
						{% include discussion-tr.html person="kodama" content="あとは、「テクノロジーが…根本のところから変えてしまう」というのは強い主張だから、できれば「なぜ」「どうやって」根本のところから変えてしまうのかを盛り込みたいね。" %}
						{% include discussion-tr.html person="kameoka" content="そういう意味では、この文章でいうところの「テクノロジー」って何なのかも記述したほうがいいよね。" %}
						{% include discussion-tr.html person="kodama" content="まとめるとこうだね。" %}
						{% include discussion-tr.html person="kodama" content="傍線部に着目して<br>「人間的生のあり方」とは？<br>「根本のところから変えてしまう」とは？<br><br>本文全体に着目して<br>「テクノロジー」とはなにか？どんな特徴を持っているか？<br>「なぜ」「どうやって」根本のところから変えてしまうのか？" %}
						<p class="heading3 text-center margin-top-64px">読解フェーズの議論</p>
						{% include discussion-tr.html person="kodama" content="まずは、人間的な生のあり方とはどういうことか確認したい。" %}
						{% include discussion-tr.html person="kameoka" content="設問（三）でも見たように、実践的判断は虚構に支えられている。だけど、その後で「虚構に支えている＝人間は愚か」と結論づけてもいけないと警鐘を鳴らしている。むしろ、人間は虚構を紡ぎ出すことによって己を支えているとまで言ってる。だから、「人間的な生のあり方」っていうのは虚構を紡ぎ出すことによって己を支えることだ、といえるはずだ。" %}
						{% include discussion-tr.html person="kodama" content="そこには完全に同意。さらに、テクノロジーは虚構を無効にしたり変質させると指摘されている点を踏まえると、解答の骨格が見えると思う。" %}
						{% include discussion-tr.html person="kodama" content="テクノロジーが今まで人間を支えていた虚構の虚構性を明らかにすることで、虚構を紡ぎ出すことによって己を支えていた人間の生をも無効ないしは変質させられるんじゃないかな。" %}
						{% include discussion-tr.html person="taniguchi" content="例えば、テクノロジーによって「完全に人工的に」、父親も母親もなしに、子どもが作れるようになったらと考えると面白い。家族という虚構が無効ないしは変質しそうだね。家族という虚構の中で生きてきた僕たちの生き方もずいぶん変わってしまいそうだ。そして新たに家族以外のなにか別の虚構が主流になるかもしれないね。ハクスリーの小説（『すばらしい新世界』）みたいな。" %}
						{% include discussion-tr.html person="taniguchi" content="これが根本的に変わるということなのでは？" %}
						{% include discussion-tr.html person="kameoka" content="うーん…。 その解釈も妥当に見えるけど、ここでは「虚構の『あり方』」と表現されている点に注意しなければならないと思う。" %}
						{% include discussion-tr.html person="kameoka" content="ただ単に、虚構Aが虚構Bに変化するだけだと、虚構の「内容」は変化しているけど、虚構の「あり方」は変化しているとはいえないのではないだろうか。" %}
						{% include discussion-tr.html person="taniguchi" content=" 虚構の「あり方」の意味には、虚構の「中身」と、虚構の「構造」そのものの２つの解釈がある？" %}
						{% include discussion-tr.html person="kameoka" content="そうそう。虚構の「あり方」＝虚構の「構造」だと解釈すると、なにが変化したのかもう一歩踏み込めると思う。" %}
						{% include discussion-tr.html person="kameoka" content="それは、「虚構性が気付かれていない虚構」から「虚構性が気付かれている虚構」への大変化。" %}
						{% include discussion-tr.html person="kameoka" content="もう少し噛み砕くと、「ウソだとは夢にも思わず本当だと信じ込んでいて、無意識についてしまっているウソ」から「ウソだと分かっているけど必要だから意識的につくウソ」への大変化（虚構＝ウソでは必ずしもないが）。" %}
						{% include discussion-tr.html person="kameoka" content="違う言葉でいえば、「実は公理」（よく考えれば公理でしかないけど誰も公理として扱っていない）から「ただの公理」（議論の前提のために必要なので意識的に置く公理）への変化。" %}
						{% include discussion-tr.html person="taniguchi" content="そうすると、テクノロジーによって子どもがつくれるようになると、家族という虚構が崩壊するだけではなくて、そのあとにくる虚構、例えば、人間は徹底的に孤独なんだという虚構も、うすうす虚構だと気付いた上で、生きるために生み出されるってことになるね。" %}
						{% include discussion-tr.html person="kodama" content="かめの解釈に乗っかると、傍線部全体が、虚構と共に生きるという人間の生のあり方自体をテクノロジーが根本的に変えてしまうということを意味していると感じる。" %}
						{% include discussion-tr.html person="kodama" content="つまり、ユージンの解釈では、人間を支えていた虚構が変化することによって、それに基づいた人間の生のあり方も変化するという感じだけど、そうでなくて、虚構と共に生きる人間の営み自体が変わってしまうことだと捉えることもできないかという話だね。" %}
						{% include discussion-tr.html person="taniguchi" content="なるほど。その場合はどういうような解答の方向性があるかな？" %}
						{% include discussion-tr.html person="taniguchi" content="虚構とともに生きるということが根本的に変わるっていうと…。" %}
						{% include discussion-tr.html person="taniguchi" content="虚構とともに生きないってこととか？" %}
						{% include discussion-tr.html person="kameoka" content="その方向性で考えを整理すると、テクノロジーという言葉の定義が重要になってきそう。" %}
						{% include discussion-tr.html person="kameoka" content="「テクノロジー」って言葉は、近代的（あるいは現代的）なものに限定されているのだろうか。それとも、テクネー（techné）一般を意味しているのか。" %}
						{% include discussion-tr.html person="kameoka" content="筆者はあくまで、テクノロジーが「できる」ことの範囲を広げる、「できる」ことの範囲が広がると、人間にとっては「すべき」ことの新たな問題に対処しなければならなくなるということを指摘している。それだけを見ると、有史以来の話なんじゃないかと思う。" %}
						{% include discussion-tr.html person="kodama" content="確かに。人間がテクノロジーを用いるようになってから筆者の指摘するような問題は起こってそうだよね。" %}
						{% include discussion-tr.html person="kodama" content="例えば、武器とか？武器自体は、切れるとか刺せるとかという「できること」のみを提示する。だけど、武器を人間が使うとなると、それは狩猟のためだけに用いるか、気に食わないやつを殺すために用いてもよいか、そういう判断をしなければならなくなる。" %}
						{% include discussion-tr.html person="kodama" content="こういう問題は確かに有史以来ありそう。それに対応する形で人間はルールを虚構していったんだろうけど。" %}
						{% include discussion-tr.html person="taniguchi" content="だとすると、「人間的な生のあり方」がテクノロジーによって 根本的に変えられるということは意味不明にならない？" %}
						{% include discussion-tr.html person="taniguchi" content="だって人間的な生のあり方の根本にはテクノロジーがあるのだし。 テクノロジーなしの人間ってありえるの？" %}
						{% include discussion-tr.html person="kameoka" content="こうは考えられないだろうか。" %}
						{% include discussion-tr.html person="kameoka" content="テクノロジーはテクネー（techné）一般を意味しつつ、そのなかでも特に現代技術のことを意味している。それは、テクネー（techné）の話がでているところで原則としてどうであるかが語られている（…区別されねばならないなど）ことから、対照的に、実態としてはテクネー（techné）一般と現代技術はなにかが違うことを意味している。それでは、なにが変わってきたのか。" %}
						{% include discussion-tr.html person="kameoka" content="変わったのは、「人間の生」から人間の「主導権」が奪われていることと解釈できないだろうか。" %}
						{% include discussion-tr.html person="kameoka" content="かつても、人間が虚構に依拠して生を営んでいたけど、そのときは人間は虚構とともに生きていて、いわば「共存」できていた。ここでは、人間が虚構に対して主導権を握っていた。虚構は人間の生を支えるために、人間が作り出したものだった。" %}
						{% include discussion-tr.html person="kameoka" content="それゆえ、虚構に従っている人間は愚かではなかったと筆者はほのめかせたわけだ。" %}
						{% include discussion-tr.html person="kameoka" content="しかし、現在ではテクノロジーが虚構の生産を要請していて、人間は主導権を失っている。これでは、テクノロジーに人間は虚構の産出を強いられているという状態になる。" %}
						{% include discussion-tr.html person="kameoka" content="しかも、虚構のあり方が変わっていて、人間は「虚構の虚構性」（虚構が虚構であること）を認識している。その上でなお、虚構を生産し続けなければならない。" %}
						{% include discussion-tr.html person="kameoka" content="これは大変なことだ。これまでは、虚構の虚構性は認識されておらず、かつ、その虚構は人間が主体的に作り出せていた。しかし、これからは、虚構の虚構性を認識しながらも、テクノロジーに強いられるかたちで、生きるために虚構をつくり続けなければならない。" %}
						{% include discussion-tr.html person="kameoka" content="個人的には、その悲しい定めに人間が追い込まれてしまったこと、それが文章を通して筆者が伝えたかったメッセージだと思う。" %}
						{% include discussion-tr.html person="taniguchi" content="俺は概ね同意だけど、一部意見の食い違うところがある。特に「悲しい定め」なのかどうかは、もう少し吟味が必要だと思う。" %}
						{% include discussion-tr.html person="taniguchi" content="まず、生きるために嘘をつき続けなきゃいけない定めは有史以来のことなんじゃないの？って思う。かつ、筆者は、生きるために嘘をつくことは人間の条件のようにも捉えているから、別に悲しい定めでもない気がする。" %}
						{% include discussion-tr.html person="taniguchi" content="最も問題なのは、全てが嘘だとわかっていて嘘をつくことではなく、テクノロジーの自己展開の方に引きづられる形で虚構の産出をせざるを得なくなったという意味での主体性の剥奪なのでは？と俺は思う。" %}
						{% include discussion-tr.html person="taniguchi" content="悲しい定めというなら、判断しなくてもよかったことまで判断を求められるように強制されるということをわかりやすく書いたほうがいいと思う。嘘をつかなくてよかったことまで嘘をつかなきゃいけなくなるって感じかな。" %}
						{% include discussion-tr.html person="kodama" content="かめの言っていることに完全に同意。その上で、テクノロジーが「困ったちゃん」であるというニュアンスを付け加えたい。" %}
						{% include discussion-tr.html person="kodama" content="設問（１）や（２）でも見たとおり、テクノロジー自身もテクノロジーを制御しきれない。テクノロジーはひとりでに新たなテクノロジーを要請してしまうし、テクノロジー自身は倫理的判断から距離をとっているはずなのに、だからこそ倫理的判断を人間に強いてしまう。" %}
						{% include discussion-tr.html person="kodama" content="テクノロジーが自己展開していくなかで、人間がそれに巻き込まれ、そのサイクルが一度始まってしまうと、誰も止められない。そのニュアンスを答案には表現するべきだと思う。" %}
						{% include discussion-tr.html person="kodama" content="まとめるとこうだね" %}
						{% include discussion-tr.html person="kodama" content="「テクノロジーが虚構のあり方を変える」→「虚構に依拠せざるをえない倫理的判断が変わる」→「倫理的判断を必然的に伴う人間の生（のあり方）が変わる」という三段論法に依拠して構成している。<br>「虚構のあり方」が変わるとは、虚構の虚構性が明らかになるということ。ここには解釈が二つある。<br>ある虚構の虚構性が明らかになるということ（虚構の意味に着目）。<br>虚構一般に虚構性があることが明らかになること（虚構の構造に着目）。<br>上記2に応じて、「人間の生のあり方」が変わることにも二つの解釈がある<br>一つは、従来の虚構が変わることで生じる価値体系の変化<br>もう一つは、虚構と気付きながら虚構を産出していかないといけないという意味での変化" %}
						<p class="heading3 text-center margin-top-64px">表現フェーズの議論</p>
						{% include discussion-tr.html person="kameoka" content="さて、ここまで議論を積み重ねてきたが、これだけの分量をいかに120字に圧縮するか。表現フェーズの力量も問われる問題だね。" %}
						{% include discussion-tr.html person="taniguchi" content="僕は、人間の生のあり方を前提としてまず書いて、そのあとテクノロジー自体が引き起こした変化、それによって人間にもたらされた変化というふうに書いていくのがよいと思った。" %}
						{% include discussion-tr.html person="taniguchi" content="その順番で書いていくと、次のような解答例になったのだが、どうだろうか。" %}
						{% include discussion-tr.html person="taniguchi" content="人間は虚構を作り出すことによって価値体系の中で生きることが可能となる。しかしテクノロジーの発展はそうした価値体系を無効にするないしは変質させる。そのことによって新たな問題が生じ、人間はそれに対処するために新たな虚構-価値体系を作るということ。（117字）" %}
						{% include discussion-tr.html person="kodama" content="いいと思う。「既存の虚構の一つが変わる」ことに着目する解答例としては申し分ないと思う。" %}
						{% include discussion-tr.html person="kameoka" content="俺は、虚構一般の虚構性が明らかになるという方向性で書いてみた。" %}
						{% include discussion-tr.html person="kameoka" content="まずは前提から書き始めている。人間が「虚構と共に生きる存在」だということは外せないから。だけど、字数の関係で主語の修飾語として書いてみた。" %}
						{% include discussion-tr.html person="kameoka" content="そのあとは、テクノロジーが引き起こしたことを書いて、それによって人間の生のあり方がどう変わったかに繋げた。ユージン解答と構造としてはよく似ていると思う。こんな解答になった、どうだろう。" %}
						{% include discussion-tr.html person="kameoka" content="虚構と共に生きてきた人間は、自己展開するテクノロジーによって新たな行為の実行可能性に放擲されることで、虚構の虚構性に気付きつつも倫理的判断をし続けなければならなくなり、生きるために虚構を再構築し続けなければならない存在になったということ。（119字）" %}
						{% include discussion-tr.html person="kodama" content="いいね。俺は、もっと攻めて、本文全体を覆っている矛盾を表現してみた。テクノロジーは、人間が問題解決のために生んだのに、人間に問題を際限なく突き付けてくるという矛盾。そして、テクノロジーすらそのプロセス全体を制御できていないという矛盾。" %}
						{% include discussion-tr.html person="kodama" content="これをうまくまとめるために、テクノロジーの特徴を説明したあと、人間の生のあり方がどう変わったかを説明するという順序にした。虚構の話はテクノロジーの特徴を説明する文脈にうまく乗っけてみた。どうだろう。" %}
						{% include discussion-tr.html person="kodama" content="人間が問題解決のために生んだテクノロジーは、行為の可能性を提示し、生を支えていた虚構の虚構性を曝け出しながら自己展開するので、人間は倫理的判断に迫られ続けることとなり、生きるために虚構を再構築しながら生き続ける羽目になったということ。（117字）" %}
						<p class="heading3 text-center margin-top-64px">他社解答例講評</p>
						<p class="anchor-header kaitou-a">人間の思惑を超えて展開するテクノロジーが、これまで人間の生の支えとなってきた自然をも人為で操作可能なものとしてその虚構性を露わにしたため、存在の危機に陥った人間は、変容する世界を生きるための新たな虚構を生み出し続けるしかなくなったということ。（120）</p>
						<p class="anchor-header saiten">　2点（構成点2点　読解点0点　表現点0点）</p>
						{% include discussion-tr.html person="kodama" content="人間の生の支えとなってきたのは自然ではない。むしろ虚構の方である。これは大きな誤読だと思う。存在の危機というのも明らかに言い過ぎであって根拠がないよね。" %}
						{% include discussion-tr.html person="taniguchi" content="うん。これは読解点は0点かもしれないね。一応本文全体の趣旨を踏まえ用としているし、傍線部を別の仕方で表そうとはしているから構成点はあげられるね。ただ読解を大幅に外しているのは痛い。" %}
						<p class="anchor-header kaitou-b">直面する問題を新たな技術の開発によって解決しようとするテクノロジーの発展は、人間の実行可能性を拡大することで、従来、判断を要しなかった問題についても人間の判断を求め、そこに要請される新たな虚構は人間の生を根底から変質させてしまうということ。（120字）</p>
						<p class="anchor-header saiten">　2点（構成点1点　読解点1点　表現点0点）</p>
						{% include discussion-tr.html person="kameoka" content="人間の生を根本から変えてしまうとはどういうことかと聞かれているのだから、この解答では少しそこから逃げていると思う。構成点が1点減点かな。" %}
						{% include discussion-tr.html person="taniguchi" content="さらに、人間の生のあり方がどういうものかについても触れられていないから読解点も１点減点になりそうだね。" %}
						<p class="anchor-header kaitou-c">かつては不可能であった行為を科学技術が可能にし、そこに是非を判断すべき領域が広がることで、それまで信じられていた倫理が虚構であることが露呈し、判断基準の虚構性を自覚しつつも、新たな難題に対処するための虚構を算出し続けざるを得なくなったこと。（120字）</p>
						<p class="anchor-header saiten">　5点（構成点2点　読解点2点　表現点1点） </p>
						{% include discussion-tr.html person="taniguchi" content="これは僕たちの解答だと、後者の方に近い議論だね。この解答はよいのではないかと思うよ。" %}
						<p class="anchor-header kaitou-d">本質的に自己展開し是非の判断と無縁な科学技術は、行為の可能性を拡げ、それゆえ生じた問題への倫理的判断基準の構築を人間に要求することで、従来の基準を支えた論理の虚構性を暴き、新たな虚構の産出を強いて、虚構が支える生全体を変容させるということ。（120字）</p>
						<p class="anchor-header saiten">　4点（構成点2点　読解点1点　表現点0点）</p>
						{% include discussion-tr.html person="taniguchi" content="科学技術という言葉の使い方がここでも問題になるね。あと、本質的にはどこまでかかっているかによるけれども、ここでは本質的に是非の判断と無縁とも読めて、そうであるならば「ニュートラルなものに留まりえない」という点をうまく汲み取れていないように思われる。読解点は一点減点かな。" %}
						{% include discussion-tr.html person="kameoka" content="そうだね。構成点に関しては問題ないと思う。あと全体的な文章の構成として、「前半の自己展開し是非の判断と無縁な～」というところは、どのように文章の中での機能を果たしているのか曖昧かなと思った。表現点の加点は無しかな。" %}
						<p class="heading3 text-center margin-top-64px">他社解答例リンク</p>
						<ul>
							<li><a href="http://www2.sundai.ac.jp/yobi/sv/sundai/sokuhou/sokuhou_D/1337447066090.html" rel="nofollow" target="_blank">「A社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://sokuho.yozemi.ac.jp/sokuho/mondaitokaitou/1/1277881_4420.html" rel="nofollow" target="_blank">「B社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://kaisoku.kawai-juku.ac.jp/nyushi/honshi/17/t01.html" rel="nofollow" target="_blank">「C社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://www.toshin.com/sokuho/univ.php?univname=%C5%EC%B5%FE%C2%E7%B3%D8&gakubuname=%CA%B8%B2%CA%B0%EC%CE%E0%A1%A2%CA%B8%B2%CA%C6%F3%CE%E0%A1%A2%CA%B8%B2%CA%BB%B0%CE%E0&kamokuname=%B9%F1%B8%EC" rel="nofollow" target="_blank">「D社」</a>（最終閲覧日時：平成29年3月15日）</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
 	</div>
</section>
