---
layout: default
title: 平成29年度第1問 Anchor 議論して勉強する東大現代文 | Schip 解くから問うへ
description: 【最新】議論して勉強する東大現代文 Anchorの平成29年度第一問版です。東大生たちの読解の過程をそのまま公開します。スマホから読めます。東大受験対策に。| Schip 解くから問うへ
kw: 東大,現代文,入試,過去問,受験,勉強,教育
list1: <a href="/school">Schipメソッド</a>
list2: <a href="/anchor">Anchor-東大現代文-</a>
list3: <a href="https://compass.schip.me" target="_blank">Comapss by Schip</a>
---

{% include branchheader.html content="Anchor<br>平成29年度第1問" %}
<section class="anchor"> <!-- Tab-navのデザインのためのclass -->
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="row margin-bottom-0">
			<div class="col-md-8 col-md-offset-2">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#q1" aria-controls="q1" role="tab" data-toggle="tab">設問(一)</a></li>
					<li role="presentation"><a href="#q2" aria-controls="q2" role="tab" data-toggle="tab">設問(二)</a></li>
					<li role="presentation"><a href="#q3" aria-controls="q3" role="tab" data-toggle="tab">設問(三)</a></li>
					<li role="presentation"><a href="#q4" aria-controls="q4" role="tab" data-toggle="tab">設問(四)</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="q1">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （一）「科学技術の展開には、人間の営みでありながら、有無をいわせず人間をどこまでも牽引していく不気味なところがある」(傍線部ア)とはどういうことか、説明せよ。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
	          <p>問題解決のための科学技術が、ひとりでに新たな問題を作り出し、更なる技術を要請するという自己展開の過程に、人間を搦め捕るということ。（65字）</p>
						<p class="heading3 text-center margin-top-64px">思考の目次</p>
	          <div class="shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>設問文読解</li>
										<li>傍線部読解</li>
									</ol>
								</li>
								<li>読解フェーズ
									<ol>
										<li>「人間の営み」でありながら「人間」を「牽引」していくという逆説性とはどういうことか？</li>
										<li>「有無をいわせず」「どこまでも」「不気味」の意味は何か？共通項は見出せるか？</li>
									</ol>
								</li>
								<li>表現フェーズ
									<ol>
										<li>「主導権」という観点</li>
									</ol>
								</li>
								<li>他社解答例講評</li>
							</ol>
	          </div>
	          <p class="heading3 text-center margin-top-64px">構成フェーズの議論</p>
						{% include discussion-tr.html person="kodama" content="設問文は、オーソドックスな「どういうことか、説明せよ。」だね。" %}
						{% include discussion-tr.html person="taniguchi" content="そうだね。一方で傍線部は、結構色々な要素が詰まっているみたいだ。まず、主題が「科学技術の展開」という無生物になっていることは注意したい。この構造は保存したいね。たぶん、表現フェーズでポイントになるんじゃないかな？" %}
						{% include discussion-tr.html person="kodama" content="だろうね。そして、「人間の営みでありながら〜人間を」という逆説も明らかなポイントだ。" %}
						{% include discussion-tr.html person="kameoka" content="間違いない。あと、「有無をいわせず」「どこまでも」「牽引」「不気味」の四つの言葉は、表現することはむずかしそうだなぁ。どこかで共通の根っこを持っていそうだけど、読解フェーズで本文と照らし合わせないと、まだよくわからないな。" %}
						{% include discussion-tr.html person="kodama" content="そうだね。まとめると、この設問のポイントは次の三つになりそうだ。<br>①「科学技術の展開」を主題にして書くこと。<br>②「人間の営み」でありながら「人間」を「牽引」していくという逆説性を示すこと。<br>③「有無をいわせず」「どこまでも」「不気味」の意味。<br><br>それでは、争点となりそうな③についてから、読解していこうか。" %}
	          <p class="heading3 text-center margin-top-64px">読解フェーズの議論</p>
						{% include discussion-tr.html person="taniguchi" content="「牽引」というのは、基本的には「問題を解決するためにつくった技術」が「問題を生み出し、新しい技術を要請する」というパラドックスのことだと思う。<br>というのも、傍線部の段落は、この「展開」の話で始まり、ウィルスの例と原発の例を出して、傍線部に至るという形になっているからね。" %}
						{% include discussion-tr.html person="kameoka" content="それは間違いない。ただ、テクノロジーがある種の運動性を持っているというのも、ポイントの一つだと思う。傍線部の直前は、「科学技術の展開が無限に続く」とは言えない、けれども、傍線部である、という流れだ。あと一行目にも「自己展開」という言葉がある。無限に続くとは言い切れないまでも、一回ぽっきりの話ではないという要素も表現したいところだね。" %}
						{% include discussion-tr.html person="kodama" content="「有無をいわせず」とか「どこまでも」とかについてはどう？これらの言葉は、かめの言った運動性が人間にとって「不可避」で「抗えない」という感じを示していると思う。" %}
						{% include discussion-tr.html person="taniguchi" content="そうだね。でも、主題はあくまで「科学技術の展開」であるということもこの問題のポイントだったから、そっちを中心に整理すると、「どこまでも」「有無をいわせず」の語感は、テクノロジーが自律していて、独自の生命を持ち、自分で発展していくというところに本質があると言えそうだ。" %}
						{% include discussion-tr.html person="kameoka" content="とすると「不気味」もしっくりきた！人間が作って動かしているテクノロジーが自律を始めることは「不気味」に違いないね。電源を切っていたはずのパソコンが勝手に起動して何かをダウンロードし始めたら薄気味悪いからね。" %}
						{% include discussion-tr.html person="kodama" content="
							まとめると、これらの要素について言及する必要がありそうだ。<br><br>
							<ol>
								<li>人間が作ったテクノロジーが人間を「牽引」するという循環。</li>
								<li>問題解決のために営まれているテクノロジーが新たな問題を生み出し、その解決のために新たなテクノロジーの開発を要請するという循環。</li>
								<li>「有無を言わさず」という言葉に示される、人間にとっての抗えなさ。</li>
								<li>「どこまでも」という言葉に示される、終わりの見えない不気味さ。</li>
								<li>「自己展開」という言葉に示される、テクノロジーの自律性。独自の生命感。</li>
								<li>③〜⑤で指摘した性質によって生まれる、①と②の二つの循環の不気味さ。</li>
							</ol><br>
							とても要素が多い。これは大変だ。" %}
						{% include discussion-tr.html person="taniguchi" content="全体の構造としては、「科学技術が自律的にXし続けることに、人間が抗えない」としてはどうだろう。" %}
						{% include discussion-tr.html person="kameoka" content="良いと思う。では一旦こんな解答にしてみた。そろそろ表現フェーズに移ろうか。" %}
						<p class="anchor-header kaitou-zantei">問題解決のために生まれながらも、自律的に新たな問題を生み出し、さらなる科学技術を要請するという科学技術に宿る終わりなき運動性に人間は抗えないということ。（76字）</p>
	          <p class="heading3 text-center margin-top-64px">表現フェーズの議論</p>
						{% include discussion-tr.html person="taniguchi" content="うーん。長いし、冗長だし、あとは、人間が営むのに人間は「牽引」されてしまうという逆説感もちょっと見えづらい気がする。" %}
						{% include discussion-tr.html person="kameoka" content="もしかしたら「抗えない」という言葉が答案の締めとして上手くないのかもしれないね。テクノロジーの自己展開ということに対して、こう考えたらどうだろう？<br>人間が最初に技術を生み出したとき、人間は技術に対して主導権を持っていた。それに対して、技術が自己展開する局面では、人間は技術が次々に提起する問題に対応して技術を開発し続けることになる。<br>ここでは人間は、主導権を奪われていて、半ば技術の奴隷になっている。" %}
						{% include discussion-tr.html person="kodama" content="主導権という観点は面白い。おれのイメージだと、最初は自分が主導していたのに、いつのまにか技術がつくった泥沼に人間は引きずりこまれていくという感じだ。そういうニュアンスで、こんな風に書いてみたらだろう？「不気味」さも出ていて、悪くないんじゃない？" %}
						<p class="anchor-header kaitou">問題解決のための科学技術が、ひとりでに新たな問題を作り出し、更なる技術を要請するという自己展開の過程に、人間を搦め捕るということ。（65字）</p>
						<p class="heading3 text-center margin-top-64px">他社解答例講評</p>
						<p class="anchor-header kaitou-a">人間が問題を解決するための科学技術が新たに想定外の問題を生み、その解決のための発展を際限なく人間に強いてくるということ。（60字）</p>
						<p class="anchor-header saiten">　4点（構成点2点　読解点2点　表現点0点）</p>
						{% include discussion-tr.html person="taniguchi" content="科学技術の自律性について、明確に指示する言葉が欲しかったね。" %}
						{% include discussion-tr.html person="kodama" content="あと、「その解決のための発展」が科学技術の開発であるということを示さないと、循環性は強調されないと思う。とは言え、簡潔にまとまった良い答案だとは思う。特に減点はないね。" %}
						<p class="anchor-header kaitou-b">困難を人間の力で解決するための科学技術が問題を作り出し、その技術的な解決へと人間を駆り立てつつ、技術では扱えない難題さえ生み出すこと。（67字）</p>
						<p class="anchor-header saiten">　3点（構成点1点　読解点2点　表現点0点）</p>
						{% include discussion-tr.html person="taniguchi" content="やはり、科学技術の自律性、独自の生命を持って運動しているイメージは、答案に必須の要素だと思う。「不気味」さの根源はそこにあるのだから。" %}
						{% include discussion-tr.html person="kameoka" content="そうだね。「有無を言わさず」の表現が「駆り立てつつ」では弱い。設問(二)の主な論点であるテクノロジーが強いる新たな倫理的判断について言及したけど、その分必要な要素が手薄な印象だ。構成点は減点されるだろう。" %}
						<p class="anchor-header kaitou-c">問題解決のための人為たる科学技術自体が問題をもたらし新たな技術を生むという展開には、人間の統御を超えて自律的かつ無限に進展する技術の本質が内在するということ。（79字）</p>
						<p class="anchor-header saiten">　3点（構成点2点　読解点2点　表現点-1点）</p>
						{% include discussion-tr.html person="kodama" content="内容は完璧だ。ただ、やはり長すぎる。表現点は減点されてしまうだろうね。少し推敲すれば同じ内容でより簡潔に書くこともできそうなのに、とても勿体無い答案だ。" %}
						<p class="anchor-header kaitou-d">直面する問題を新たな技術の開発によって解決しようとするテクノロジーは、人間を次々に新たな問題に直面させる気味悪さを持つということ。（65字）/p>
						<p class="anchor-header saiten">　2点（構成点1点　読解点1点　表現点0点）</p>
						{% include discussion-tr.html person="kodama" content="新たな問題を創出するのもテクノロジーであるという重要な点が抜けている。この点を言明しないと、循環が示されないね。" %}
						{% include discussion-tr.html person="taniguchi" content="テクノロジーの人為性についてもあまり言われていないね。二つの循環共に言及が不十分だ。これでは、構成の面でも良いとは言えないし、読解も正しくできているか不明だ。構成点と読解点が両方減点されるでしょう。" %}
						<p class="heading3 text-center margin-top-64px">他社解答例リンク</p>
						<ul>
							<li><a href="http://www2.sundai.ac.jp/yobi/sv/sundai/sokuhou/sokuhou_D/1337447066090.html" rel="nofollow" target="_blank">「A社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://kaisoku.kawai-juku.ac.jp/nyushi/honshi/17/t01.html" rel="nofollow" target="_blank">「B社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://www.toshin.com/sokuho/univ.php?univname=%C5%EC%B5%FE%C2%E7%B3%D8&gakubuname=%CA%B8%B2%CA%B0%EC%CE%E0%A1%A2%CA%B8%B2%CA%C6%F3%CE%E0%A1%A2%CA%B8%B2%CA%BB%B0%CE%E0&kamokuname=%B9%F1%B8%EC" rel="nofollow" target="_blank">「C社」</a>（最終閲覧日時：平成29年3月15日）</li>
							<li><a href="http://sokuho.yozemi.ac.jp/sokuho/mondaitokaitou/1/1277881_4420.html" rel="nofollow" target="_blank">「D社」</a>（最終閲覧日時：平成29年3月15日）</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade " id="q2">
			<div class="setsumon">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							（二）「単なる道具としてニュートラルなものに留まりえない理由」(傍線部イ)とはどういうことか、説明せよ。
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="anchor-header kaitou">
							テクノロジーが可能にした行為の実行を人間が判断せざる得なくなった時点で、その少なくとも一方の選択肢を支える倫理は必ず棄却されるということ。（69字）<br><br>
							現にテクノロジーが新たな倫理判断を人間に強いていることが、テクノロジーは倫理と無縁であるという原則論の虚構性を如実に物語っているということ。（70字）
						</p>
						[解説準備中]
						<!-- <div class="anchor-header shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>「なぜなのか？」</li>
									</ol>
								</li>
								<li>読解フェーズ
									<ol>
										<li>「なぜなのか？」</li>
									</ol>
								</li>
								<li>表現フェーズ
									<ol>
										<li>「なぜなのか？」</li>
									</ol>
								</li>
							</ol>
						</div>
						<p class="heading3 text-center">構成フェーズ</p>
						<p class="heading3 text-center">読解フェーズ</p>
						<p class="heading3 text-center">表現フェーズ</p> -->
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="q3">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （三）「実践的判断が虚構的なものでしかないことは明らか」(傍線部ウ)とあるが、なぜそういえるのか、説明せよ。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
	          <p class="anchor-header kaitou">価値判断を支える基準は時代や場所によって揺れ動くことは経験的に明らかであるように、ある時点での想像によらない価値判断はあり得ないから。(65字)</p>
						[解説準備中]
	          <!-- <div class="anchor-header shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>「なぜなのか？」</li>
									</ol>
								</li>
								<li>読解フェーズ
									<ol>
										<li>「なぜなのか？」</li>
									</ol>
								</li>
								<li>表現フェーズ
									<ol>
										<li>「なぜなのか？」</li>
									</ol>
								</li>
							</ol>
	          </div>
	          <p class="heading3 text-center">構成フェーズ</p>
	          <p class="heading3 text-center">読解フェーズ</p>
	          <p class="heading3 text-center">表現フェーズ</p> -->
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade " id="q4">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （四）「テクノロジーは、人間的生のあり方を、その根本のところから変えてしまう」(傍線部エ)とはどういうことか、本文全体の論旨を踏まえた上で、100字以上120字以内で説明せよ。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
	          <p class="anchor-header kaitou">
							人間が問題解決のために生んだテクノロジーは、行為の可能性を提示し、生を支えていた虚構の虚構性を曝け出しながら自己展開するので、人間は倫理的判断に迫られ続けることとなり、生きるために虚構を再構築しながら生き続ける羽目になったということ。（117字）<br><br>
							虚構と共に生きてきた人間は、自己展開するテクノロジーによって新たな行為の実行可能性に放擲されることで、虚構の虚構性に気付きつつも倫理的判断をし続けなければならなくなり、生きるために虚構を再構築し続けなければならない存在になったということ。（119字）<br><br>
							人間は虚構を作り出すことによって価値体系の中で生きることが可能となる。しかしテクノロジーの発展はそうした価値体系を無効にするないしは変質させる。そのことによって新たな問題が生じ、人間はそれに対処するために新たな虚構-価値体系を作るということ。（117字）
						</p>
						[解説準備中]
	          <!-- <div class="anchor-header shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>「なぜなのか？」</li>
									</ol>
								</li>
								<li>読解フェーズ
									<ol>
										<li>「なぜなのか？」</li>
									</ol>
								</li>
								<li>表現フェーズ
									<ol>
										<li>「なぜなのか？」</li>
									</ol>
								</li>
							</ol>
	          </div>
	          <p class="heading3 text-center">構成フェーズ</p>
	          <p class="heading3 text-center">読解フェーズ</p>
	          <p class="heading3 text-center">表現フェーズ</p> -->
					</div>
				</div>
			</div>
		</div>
 	</div>
</section>
