---
layout: default
title: 平成30年度第1問 Anchor 議論して勉強する東大現代文 | Schip 解くから問うへ
description: 【最新】議論して勉強する東大現代文 Anchorの平成30年度第一問版です。東大生たちの読解の過程をそのまま公開します。スマホから読めます。東大受験対策に。| Schip 解くから問うへ
kw: 東大,現代文,入試,過去問,受験,勉強,教育
list1: <a href="/#philosophy">Philosophy</a>
list2: <a href="/scoring_practice">プリズムメソッド</a>
list3: <a class="selected">Anchor</a>
list4: <a href="https://compass.schip.me" target="_blank">Comapss</a>
---

{% include branchheader.html content="Anchor<br>平成30年度第1問<br>β版" %}
<section class="anchor"> <!-- Tab-navのデザインのためのclass -->
	<div class="container">
		<div class="row margin-bottom-0">
			<div class="col-md-8 col-md-offset-2">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#q1" aria-controls="q1" role="tab" data-toggle="tab">設問(一)</a></li>
					<li role="presentation"><a href="#q2" aria-controls="q2" role="tab" data-toggle="tab">設問(二)</a></li>
					<li role="presentation"><a href="#q3" aria-controls="q3" role="tab" data-toggle="tab">設問(三)</a></li>
					<li role="presentation"><a href="#q4" aria-controls="q4" role="tab" data-toggle="tab">設問(四)</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="q1">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （一）「その痕跡が素粒子の『実在』を示す証拠であることを保証しているのは、量子力学を基盤とする現代の物理学理論にほかなりません」（傍線部ア）とはどういうことか、説明せよ。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
	          <p>知覚した現象を、知覚できない素粒子の「実在」を確証するための証拠たらしめているのは、現代の物理学理論以外にはありえないということ。（61字）</p>
						<p class="heading3 text-center margin-top-64px">思考の目次</p>
						<div class="shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>指示語を的確に捉える</li>
										<li>傍線部の構造</li>
									</ol>
								</li>
								<li>読解フェーズ
									<ol>
										<li>素粒子の存在主張の根拠</li>
										<li>知覚可能性・観察可能性</li>
										<li>「実在」について</li>
									</ol>
								</li>
								<li>表現フェーズ
									<ol>
										<li>「ほかならない」の処理</li>
										<li>要素の結合</li>
									</ol>
								</li>
							</ol>
						</div>
						<p class="heading3 text-center margin-top-64px">構成フェーズの議論　〜指示語を的確に捉える〜</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	「どういうことか？」という問いなので、まずは傍線部をみていこう。傍線部内に「その痕跡」という指示語があるので、そこを読解することから始めよう。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	その痕跡は、直前にある「ミクロな粒子の運動のマクロな『痕跡』」という部分を受けているね。段落を最初から読めば、ミクロな粒子とは素粒子のことであり、マクロな痕跡とは霧箱や泡箱によって捉えられた素粒子の運動の飛跡だということが分かる。したがって、一言でまとめるとこうだ" %}
						<div class="PRT__blackboard">
							「その痕跡」とは「素粒子の飛跡」である
						</div>
						{% include discussion-tr.html person=	"kameoka"	 content="	「その痕跡」＝「素粒子の飛跡」を用いると、<b>「『素粒子の飛跡』が素粒子の『実在』を示す証拠であることを保証しているのは、量子力学を基盤とする現代の物理学理論にほかなりません」</b>というようになるね。ここからは、以上のように指示語を代入した上で考えていこう。	" %}
						<p class="heading3 text-center margin-top-64px">構成フェーズの議論　〜傍線部の構造〜</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	さて、この問題で気をつけたいのは<b>傍線部の構造</b>だ。構造だけ取り出すと「XXを保証しているのは、YYにほかなりません」となる。いいかえれば、「ほかならぬYYによってこそXXが保証される」ということだ。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	YY＝「量子力学を基盤とする現代の物理学理論」は単純だから、XXに焦点をあてて考えてみる。以下、簡単にするために厳密ではないが、YYのことを「現代の物理学理論」としよう。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	XX＝「『素粒子の飛跡』が素粒子の『実在』を示す証拠であること」というのはさっき確認したね。 ここで注意したいのは、現代の物理学理論が保証するのは、「『素粒子の飛跡』が素粒子の『実在』を示す証拠であること」であって、「素粒子の『実在』」そのものではないということだ。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	つまり、「ほかならない」のニュアンスを無視して強引に傍線部を言い換えれば、<b>「現代の物理学理論によって、『素粒子の飛跡』が素粒子の『実在』を示す証拠であることが保証される」</b>となる。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	それゆえ、XXを捉え間違えると、答案の趣旨が「素粒子の『実在』が現代の物理学理論によって保証されているということ」となってしまい誤答となる。あくまで、<b>YY＝「量子力学を基盤とする現代の物理学理論」が保証しているのは、XX=「『素粒子の飛跡』が素粒子の『実在』を示す証拠であること」であって、「『素粒子の飛跡』そのものではない。</b>ここには、ぜひ注意したいね。" %}
						<div class="PRT__blackboard">
							[YY] を保証しているのは [XX] にほかなりません<br>
							<br>
							[XX] 現代の物理学理論<br>
							[YY] 「素粒子の飛跡」が素粒子の「実在」を示す証拠であること
						</div>
						<p class="heading3 text-center margin-top-64px">読解フェーズの議論　〜素粒子の存在主張の根拠〜</p>
						{% include discussion-tr.html person=	"kodama"	 content="	では、「現代の物理学理論によって、『素粒子の飛跡』が素粒子の『実在』を示す証拠であることが保証される」とはどういうことなんだろう？	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	ここで参照したいのは、素粒子の例が持ち出された文脈だ。形式段落1では、過去は知覚できないから「実在」を確証するために「探究」の手続きが必要であることが指摘されていた。そして形式段落2の冒頭をみると「過去と同様に」とあり、同じ構造の話であることが分かる。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="したがって、まず抑えておくべきポイントはこの2つだね。" %}
						<div class="PRT__blackboard">
							（1）過去が知覚できないのと同様に素粒子も知覚できない<br>
							（2）過去の「実在」を確証するために「探究」の手続きが必要であるのと同様に、素粒子の「実在」を確証するためにも「探究」の手続きが必要である
						</div>
						{% include discussion-tr.html person=	"taniguchi"	 content="そして<b>傍線部は、まさに素粒子の「実在」を確証するための「探究」の手続きを説明している</b>ということに注意しよう。" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	ここまで見てくると、素粒子の「実在」を確証するための「探究」の手続きとはどんなものだろうか？という問いを考える必要があることが分かる。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="この点については傍線部のあとに説明がある。<br>
						まず第一に、素粒子自体は観察不可能なので、「間接的証拠を支える理論的手続き」によって「実在」の意味が与えられるということ。<br>
						第二に、「物理学理論と実験的証拠の裏づけ」なしに、存在の主張ができないということ。<br>
						両者を総合すると、<b>素粒子の直接的な観測ではないものの、「物理学理論」＋「間接的証拠＝実験的証拠」があれば素粒子の実在性が主張できる</b>ということになる。" %}
						{% include discussion-tr.html person=	"kodama"	 content="	ポイントは、<b>「間接的証拠＝実験的証拠」はそれ単体では素粒子の実在性を支える証拠とはならない</b>ということだ。物理学理論の支えがあって初めて、「間接的証拠＝実験的証拠」は素粒子の実在性を主張する根拠となるということである。形式段落2の最後に、「素粒子が『実在』することは背景となる物理学理論のネットワークと不即不離」という記述があるのは、この点を指摘している。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	傍線部に戻ろう。さきほどの議論で、傍線部は「現代の物理学理論によって、『素粒子の飛跡』が素粒子の『実在』を示す証拠であることが保証される」と言い換えられていた。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	もうお分かりのとおり、傍線部でいう「素粒子の飛跡」が、ここまでの議論にでてきた「間接的証拠＝実験的証拠」である。したがって代入すると、<b>「現代の物理学理論によって、間接的証拠である『素粒子の飛跡』が、素粒子の実在を示す証拠であることが保証される」</b>となる。もう解答は目前だ。	" %}
						<p class="heading3 text-center margin-top-64px">読解フェーズの議論　〜知覚可能性・観察可能性〜</p>
						{% include discussion-tr.html person=	"taniguchi"	 content="	さきほど指摘した2点のうち、順序は逆になるけど、(1)「過去が知覚できないのと同様に素粒子も知覚できない」ことを見ていこう。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	そもそも、間接的証拠が間接的証拠でしかありえないのは、直接観察できないからだ。直接観察できれば、物理学理論の支えがなくても証拠として機能する。しかし、知覚不可能だからこそ、物理学理論の支えが必要とされるのだ。そもそも、<b>いままでの議論の前提は、素粒子が知覚不可能な対象で、直接観察できないことに端を発していた</b>ということだ。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	傍線部に即していうと、「素粒子」そのものは知覚不可能であり、直接観察できない。一方で、「素粒子の飛跡」は観察可能だが、これは素粒子そのものではないから、素粒子の実在性を示すためには物理学理論の支えを必要となり、間接的証拠にしかすぎない。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	<b>問題の発端はこのように、対象が知覚可能か不可能か、直接的に観察できるか否かにある</b>。したがって、解答にはこの対比も盛り込みたいね。	" %}
						<p class="heading3 text-center margin-top-64px">読解フェーズの議論　〜「実在」について〜</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	最後に、傍線部には「実在」が括弧つきで使われているが、これをどう読み解くかについて考えよう。課題文では一貫して「実在」は基本的に括弧つきで使われている。それゆえ、一般的な意味での「実在」とは異なる意味であると考えられる。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	最も参考になるのは、傍線部の後、「素粒子の『実在』の意味は直接的な観察によってではなく、間接的証拠を支えている物理学理論によって与えられている」という部分である。では、<b>「実在」の意味が物理学理論によって与えられているとはどういうことか？</b>	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	少し先にはなるけれど、傍線部イがある段落で、五感によって知覚的に観察可能なものだけが「実在」するわけではない点が指摘されているね。筆者は、文章全体を通して、<b>五感によって直接的に知覚できないものでも理論の手続きによって実在性を保障されうる</b>ことを指摘しているね。したがって、ここでいう「実在」は、物理学理論と存在が切り離せないという意味だと思う。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	一方で、傍線部アの段落には、「『実在』を確信して疑わない」「実在するとは誰も考えません」「存在主張」といった表現がある。この表現は、<b>実在性はあくまで人間がおこなう主張であり、理論的手続きと実在性が不分なだけではなく、理論を踏まえて主張する主体と切り離して実在性が担保されることはありえない</b>ことを指摘していると考えられる。この点から、筆者が用いている「実在」は認識上のものであるということができると思う。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="ユージンの指摘する存在論的な「実在」の用法と、こだまが指摘する認識論における『実在」の用法は、どちらでも本文の解釈として適切であり、かつ、本文の記述からでは、どちらだと断定することも難しい。したがって、<b>「実在」の説明については決定不可能性の観点から「実在」とカギ括弧付きでも、存在論的・認識論的の解釈どちらかを採用した解答となっていても、どちらでも大丈夫だと考えられる</b>ね。	" %}
						<p class="heading3 text-center margin-top-64px">表現フェーズの議論　〜「ほかならない」の処理〜</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	指示語を代入した傍線部に立ち戻ろう。傍線部は、「『素粒子の飛跡』が素粒子の『実在』を示す証拠であることを保証しているのは、量子力学を基盤とする現代の物理学理論にほかなりません」であった。この構造を保存して解答を書いてもよいのだけど、少し冗長だ。<b>冗長の理由は「XXを保証しているのはYYにほかなりません」という構造にある。</b>	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	傍線部を言い換えると、「ほからならないYYが、XXを保証している」ということになる。「ほかならない」の意味は、「それ以外になく、まさにそれである」である。それを踏まえて、さらに言い換えれば「YY以外には、XXは保証できない」となる。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	が、傍線部はXX→YYという流れで記述されていることを踏まえると、「XXは、YY以外には保証されない」と言い換えるとより傍線部に近い意味になる。肯定形に変換すると、「XXはYYに依拠して初めて保証される」という構造でいくのがよいだろう。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	ここまでをまとめると、<b>「『素粒子の飛跡』が素粒子の『実在』を示す証拠であることは、量子力学を基盤とする現代の物理学理論に依拠して初めて保証される」</b>となるね。	" %}
						<div class="PRT__blackboard">
							[YY] を保証しているのは [XX] にほかなりません<br>
							<br>
							[XX] 現代の物理学理論<br>
							[YY] 「素粒子の飛跡」が素粒子の「実在」を示す証拠であること<br>
							↓<br>
							ほかならぬ [YY] によってこそ [XX] が保証される<br>
							↓<br>
							[YY] 以外には、[XX] は保証できない<br>
							↓<br>
							[XX] は、[YY] があって初めて保証される
						</div>
						<p class="anchor-header kaitou-zantei">「素粒子の飛跡」が素粒子の「実在」を示す証拠であることは、量子力学を基盤とする現代の物理学理論に依拠して初めて保証される</p>
						<p class="heading3 text-center margin-top-64px">表現フェーズの議論　〜要素の結合〜</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	ここからは意味フェーズの議論に依拠して加筆していく。まずは、「素粒子の存在主張の根拠」での議論を踏まえて、現代の物理学理論が支えているのは、間接的証拠＝実験的証拠であることを示す。すると、<b>「間接的証拠でしかない『素粒子の飛跡』が素粒子の『実在』を示す証拠であることは、量子力学を基盤とする現代の物理学理論に依拠して初めて保証される」</b>となる。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	つぎに、そもそも議論の発端が、素粒子それ自体は知覚できないため、直接的な観察が不可能であることにある点を解答に加える。そうすると、<b>「間接的証拠でしかない『素粒子の飛跡』が、直接は知覚も観察もできない素粒子の『実在』を示す証拠であることは、量子力学を基盤とする現代の物理学理論に依拠して初めて保証される」</b>となる。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	さらに細かい点で、「量子力学を基盤とする現代の物理学理論」という文言があるが、量子力学自体は本文の論旨からは瑣末なので、ただ単に「現代の物理学理論」でよい。「…を示す証拠である」という言い方も冗長なので圧縮すると「確証する」くらいの意味になるだろうか。" %}
						{% include discussion-tr.html person=	"kodama"	 content="最後に、「実在」の意味についての議論についてみてみる。先ほど読解フェーズで見た通り、この本文では、この言葉の意味は曖昧なままで、決定できない。決定できないことに着目して、単に「実在」と答案に書いてもここでは許されると思う。もちろん、「わたしは『実在』の意味をこう読み取った！」という主張を答案に盛り込んでもOK。「実在」が世界に確かに存在しているという意味だとすると、例えば「素粒子が実際に存在する」などと表現できる。一方で、実在の意味は、観測主体の認識において存在が確信できることだと捉えると「素粒子が実在すると説得的に示す」などとなる。ここは、どの解答でも大丈夫だ。	" %}
						<p class="anchor-header kaitou">間接的証拠にすぎない素粒子の飛跡による、観察不能な素粒子の「実在」の確証は、現代の物理学理論に依拠して初めて保証されるということ。（65）</p>
						<p class="anchor-header kaitou">間接的証拠にすぎない素粒子の飛跡に依拠した、観察不能な素粒子の存在の主張は、現代の物理学理論に依拠して初めて保証されるということ。（65）</p>
						<p class="anchor-header kaitou">間接的証拠にすぎない素粒子の飛跡によって示される、観察不能な素粒子の実在の説得性は、現代の物理学理論に依拠して初めて保証されるということ。（69）</p>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="q2">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （二）「『理論的虚構』という意味はまったく含まれていない」（傍線部イ）とはどういうことか、説明せよ。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
	          <p>理論的存在は、理論から独立して実在性を主張できないものの、理論的手続きを経て実在性を保証されており、単なる想像の産物ではないということ。（68字）</p>
						<p class="heading3 text-center margin-top-64px">思考の目次</p>
						<div class="shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>指示語を的確に捉える</li>
										<li>傍線部の構造</li>
									</ol>
								</li>
								<li>読解フェーズ
									<ol>
										<li>理論的虚構について</li>
										<li>実在と虚構の違いについて</li>
									</ol>
								</li>
								<li>表現フェーズ
									<ol>
										<li>実在と虚構という意味をブラッシュアップすると</li>
									</ol>
								</li>
								<li>他社解答例講評（近日公開）</li>
							</ol>
						</div>
						<p class="heading3 text-center margin-top-64px">		【構成フェーズ】指示語を的確に捉える		</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	どういうことかを問われているから、「理論的虚構」という意味は全く含まれていないということで、筆者が言わんとしていることを書けばいいね。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	ここでは、理論的虚構とは何か？という点と、その理論的虚構という意味が含まれていないということを考えればいいんだけど。でもその前に、この文章は主語がないよね、一体何に、理論的虚構という意味が含まれていないかもまず始めに考えなきゃいけないね。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	ここでの主語は、傍線部の直前に書いてある理論的存在のことだね。つまり、この文章は、理論的存在には理論的虚構という意味が全く含まれていないという全体の構造を持っていることがわかる。	" %}
						<div class="PRT__blackboard">
							傍線部を補足するとこうなる<br>
							→「理論的存在には、理論的虚構という意味は全く含まれていない」
						</div>
						<p class="heading3 text-center margin-top-64px">		【構成フェーズ】傍線部の構造		</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	そこで、全体の構造を考えてみよう。理論的存在をAとして、理論的虚構をBとすると、AにはBという意味は全く含まれていないとなるね。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	つまり、AとBは全く異なる事象であるということが説明できればいいわけだ。だとすると、まずA＝「理論的存在」とは何かを考えて、B＝「理論的虚構」とは何かを考えて、どういった点で両者は異なるのかを示せればいいわけだね。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="ポイントはこうだね"%}
						<div class="PRT__blackboard">
							「AにはBという意味は全く含まれない」とはどういうことかを説明するには？<br>
							→　Aは〇〇であり、Bは××である。AとBは異なるということを示せばいい。
						</div>
						<p class="heading3 text-center margin-top-64px">		【意味フェーズ】理論的存在とは？		</p>
						{% include discussion-tr.html person=	"kodama"	 content="	では理論的存在ってなんだったっけ？本文には以下のように書いてあったね。" %}
						<blockquote cite="">
							<p>科学哲学では、このように直接的に観察できない対象のことを「理論的存在(theoretical entity」ないしは「理論的構成体(theoretical construct)」と呼んでいます。</p>
						</blockquote>
						{% include discussion-tr.html person=	"kodama"	 content="	つまり、直接的に観察できない対象のことを理論的存在であるわけだ。「このように」とも書いているから、その前の文章を読んでみると、「このように」の内容がわかるね。	" %}
						<blockquote cite="">
							<p>その意味では、素粒子の『実在』の意味は直接的な観察によってではなく、間接的証拠を支えている物理学理論によって与えられていると言うことができます。</p>
						</blockquote>
						{% include discussion-tr.html person=	"kameoka"	 content="	これは第一問で解いた内容だね。つまり、素粒子は直接観察できないけど、素粒子が通ったと思われる飛跡などの間接的な証拠と、それを支えている物理学理論によって、素粒子は「実在」すると言えるわけだ。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	うん。そうだったね。ということは、理論的存在とは、直接観察はできないけど、「物理学理論の支えと実験的証拠の裏付け」によって実在するんだ。その意味で、素粒子の実在は物理学ネットワークとは不即不離だと筆者は述べているね。	" %}
						<p class="heading3 text-center margin-top-64px">		【意味フェーズ】理論的虚構について		</p>
						{% include discussion-tr.html person=	"taniguchi"	 content="	理論的存在については、そういうことで大丈夫だろう。では次に理論的虚構について考えなくちゃいけないね。しかし本文中に理論的虚構とは本文には明示さていないよね。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	虚構はフィクションの訳語だよね。小説なんかでも、「この作品はフィクションです。実在の団体・人物とは関係ありません」なんか言ったりするよね。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="この文章に即していうと、「理論的存在は実在するもので、フィクションではありません」ということになる。" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	素粒子などは目には見えないけれども、決してその存在が虚構＝フィクション＝つくりものなのではなく、物理学理論や間接的証拠によってちゃんと存在するものとして認めることができるんだよってことだね。	" %}
						<p class="heading3 text-center margin-top-64px">		【意味フェーズ】実在と虚構の違いについて		</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	理論的存在と理論的虚構についてはなんとなくイメージでいるようになったけど、理論的存在と理論的虚構がどう言った点で異なるのかについてはもっと深めないといけないね。つまり、実在することと虚構＝つくりものであることはどう違うんだろう？	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	うーん。実は結構難しい問題だね。さっきの小説の例で考えると、虚構＝フィクションとは作者が作り上げた団体や人物のことだよね。だから本当は現実には存在しないんだけど、物語を成立させるために勝手に作っちゃった存在のことだね。それに対して、ノンフィクションなんかは、実際に現実に存在する対象について書かれたものだよね。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	そう考えると、虚構と実在は実際に現実に存在するのかどうかに違いありそうだ。虚構は、現実には存在しないもので、実在は現実に存在するもの。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	ここで筆者が言いたいのは、素粒子は実際に現実に存在するもので、決して現実には存在しないつくりものではないんだ。ということなんだね。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	ここまでくると解答の方向性が決まるね。理論的存在は、理論や間接的証拠によって現実に存在することが保証させるものであって、理論的につくりあげられたものではないということだね。	" %}
						<blockquote cite="">
							<p>見聞臭触によって知覚的に観察可能なものだけが「実在」するという狭隘な実証主義は捨て去らねばなりませんが、他方でその「実在」の意味は理論的「探究」の手続きと表裏一体のものであることにも留意せねばなりません。</p>
						</blockquote>
						{% include discussion-tr.html person=	"kameoka"	 content="上記のように筆者がの述べている点も注意だね。直接知覚できるものだけが実在するという単純な実証主義はダメだけれども、かと言って理論的探究の手続きを無視して、実在を主張してもいけないんだということだ。筆者はくどいくらい、理論や手続きを重視しているね。このことは後の問題にも関わってくるから、耳タコなくらい指摘したほうがいい。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	でも、虚構だって決して存在してないわけじゃなくてと考えると、実在とか虚構とか存在とかよくわからなくなるね。。。	" %}
						<p class="heading3 text-center margin-top-64px">		【表現フェーズ】実在と虚構という意味をブラッシュアップすると		</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	まあそうだけど、、、とりあえず解答の雛形は決まったからあとはまとめていこう。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="さしあたりこんな感じかな。	" %}
						<p class="anchor-header kaitou-zantei">理論的存在は、直接知覚できないけれども、理論や証拠によって実在することを把握できる存在であって、そこに理論的につくりあげられたものだという意味は全く含まれないということ。</p>
						{% include discussion-tr.html person=	"taniguchi"	 content="	いい感じだね。それをもうちょっとブラッシュアップしていこう。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	実在というのは実際に現実に存在するものだということだね。それに対して、虚構というのはつくられたものだ。だから、実在というのは発見させれるものだし、虚構というのはつくりあげられたものだとも考えられる。認識する主体（たとえば人間）が、発見（認識）できる対象が実在であり、認識主体によってつくりあげられる対象が虚構だ。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	さっきの小説の例でいうと、認識主体（作者）によってつくられるのがフィクション作品であって、認識主体からは独立して存在していて、認識主体が対象を見つけて取材に行くような形の作品はノンフィクションだよね。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	それを踏まえると、素粒子の例で考えるならば次のようにいうことができそうだね。素粒子などは、人間が理論的「探究」の手続きを踏まえれば実際に存在するものとして「発見」できるのであって、決して人間が恣意的に生み出した存在ではないということ。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	うん。よくなってきたね。ということでそれをより一般的な文章にしてあげればいいね。解答例は、以下のような形になる。	" %}
						<p class="anchor-header kaitou">理論的存在は直接的に知覚できないが、理論的手続きの下で実在として認識可能で、理論によって恣意的に生み出されたものではないということ。	</p>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="q3">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （三）「『フランス革命』や『明治維新』が抽象的概念であり、それらが『知覚』ではなく、『思考』の対象であること」（傍線部ウ）とはどういうことか、説明せよ。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
	          <p>歴史的出来事は、知覚しうる個々の事物ではなく、歴史学の理論と手続きを前提として思考される、事物の関係の総体であるということ。（62字）</p>
						<p class="heading3 text-center margin-top-64px">思考の目次</p>
						<div class="shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>カギ括弧の処理</li>
									</ol>
								</li>
								<li>読解フェーズ
									<ol>
										<li>「フランス革命」や「明治維新」</li>
										<li>「関係の糸」とは？！</li>
										<li>「知覚」と「思考」とは？！</li>
									</ol>
								</li>
								<li>表現フェーズ
									<ol>
										<li>〜冗長な内容をまとめる〜</li>
									</ol>
								</li>
								<li>他社解答例講評（近日公開）</li>
							</ol>
						</div>
						<p class="heading3 text-center margin-top-64px">構成フェーズの議論　〜カギ括弧の処理〜	</p>
						{% include discussion-tr.html person=	"taniguchi"	 content="	設問文に括弧が多い(笑)<br>ただ文章の大枠はわかりやすいなぁ。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	<b>カギ括弧が傍線部に含まれている場合の基本は、それらの意味を詳しく説明するということだ。</b>設問(一)はちょっと例外だったけどね。今回は「フランス革命」「明治維新」「知覚」「思考」これらの意味を考えていこう。この設問のポイントは他になさそうだ。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	「フランス革命」と「明治維新」はセットで考えられるそうだね。だから、考えなきゃいけないことはこんな感じだ。" %}
						<div class="PRT__blackboard">
							＜この設問で明らかにする必要があること＞<br>
							①「『フランス革命』と『明治維新』」は何のことを表しているか？<br>
							②『知覚』の意味は何か？<br>
							③『思考』の意味は何か？
						</div>
						<p class="heading3 text-center margin-top-64px">意味フェーズの議論１　〜「フランス革命」や「明治維新」〜	</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	「フランス革命」と「明治維新」はどちらも固有名詞だ。この問題文は、別にフランス革命や明治維新についての文章というわけではないので、これらを<b>抽象化して本文全体の文脈とどういう関係にあるのかを考えることが必要</b>だろうね。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	そのためのヒントを集めよう。<b>傍線部は一文の途中から始まっているので、傍線部を前に伸ばして</b>、傍線部の直前にヒントを探そう。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	「『戦争』や『軍隊』と同様に」と書いてあるね。これって、傍線部のちょっと前に説明されていたね。カール・ポパーの引用の中だ。" %}
						<blockquote cite="">
							<p>社会科学の大部分の対象は、すべてではないにせよ、抽象的対象であり、(中略)『戦争』や『軍隊』ですら抽象的概念である</p>
						</blockquote>
						{% include discussion-tr.html person=	"taniguchi"	 content="よって、この図式が成り立つことがわかる。" %}
						<div class="PRT__blackboard">
							「社会科学の大部分の対象」<br>
							＝「抽象的対象」「抽象的概念」<br>
							→その具体例は「戦争」や「軍隊」
						</div>
						{% include discussion-tr.html person=	"taniguchi"	 content="	この形式段落では、「社会科学」と「歴史学」の対比が説明されている。ポパーの引用の後で「同じことは、当然ながら歴史学にも当てはまります。」とした上で、次の文章、つまり傍線部の直前の文章で、筆者はこう述べている" %}
						<blockquote cite="">
							<p>歴史記述の対象は(中略)関係の糸で結ばれた『事件』や『出来事』」とある。	</p>
						</blockquote>
						{% include discussion-tr.html person=	"taniguchi"	 content="これで繋がったね。こういう構図が見えてきた" %}
						<div class="PRT__blackboard">
							「社会科学の大部分の対象」<br>
							＝「抽象的対象」「抽象的概念」<br>
							→その具体例は「『戦争』や『軍隊』」<br>
							<br>
							以下も同じ構図になっている！<br>
							「歴史記述の対象」<br>
							＝「関係の糸で結ばれた『事件』や『出来事』(という抽象的概念)」<br>
							→その具体例は「『フランス革命』や『明治維新』」
						</div>
						{% include discussion-tr.html person=	"taniguchi"	 content="	よって、抽象化して丁寧に説明すると、<b>「『フランス革命』や『明治維新』」とは「歴史記述の対象である、関係の糸で結ばれた抽象的対象・抽象的概念である『事件』や『出来事』」</b>であると言えるね。	" %}
						<p class="heading3 text-center margin-top-64px">意味フェーズの議論２　〜「関係の糸」とは？！〜	</p>
						{% include discussion-tr.html person=	"kodama"	 content="	ただ、面倒なことに、読解をしていたらむしろ意味が不明瞭な言葉が登場してしまった。「関係の糸」というのは何だろう。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	これより前に「関係」の話をしていたところが、実は第二形式段落にある。" %}
						<blockquote cite="">
							<p>素粒子が「実在」することは背景となる物理学理論のネットワークと不即不離なのであり(後略)</p>
						</blockquote>
						{% include discussion-tr.html person=	"kodama"	 content="	まさに設問(一)のところだね。直接観察できる、素粒子の痕跡という間接証拠は、物理学理論に支えられて初めて証拠になるんだよね。これを歴史学の関係に当てはめると、少なくとも当時は直接観察できた歴史上の「事物」は、歴史学の理論に支えられて初めて、歴史的な「事件」や「出来事」の証拠になるということ、であってるかな？	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="そうだと思う。なぜなら、そういう話がまさに第四形式段落に書いてある！" %}
						<blockquote cite="">
							<p>物理学に見られるような理論的「探求」の手続きが、「物理的事実」のみならず「歴史的事実」を確定するためにも不可欠</p>
						</blockquote>
						<blockquote cite="">
							<p>歴史的事実は過去のものであり、もはや知覚的に見たり聞いたりすることはできませんので、その『実在』を主張するためには、直接間接の証拠が必要とされます。</p>
						</blockquote>
						{% include discussion-tr.html person=	"kodama"	 content="	まさに、だね。じゃあ「関係の糸で結ばれた」というのは「歴史学理論のネットワークと手続きによって、その実在が証明された」という状態だという意味で合っているかな。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="そうだね！ここまでをまとめるとこうなるね"%}
						<div class="PRT__blackboard">
							『フランス革命』や『明治維新』<br>
							＝<br>
							歴史記述の対象であり、歴史学理論のネットワークと手続きによって、その実在が証明された抽象的対象・抽象的概念である「事件」や「出来事」
						</div>
						<p class="heading3 text-center margin-top-64px">意味フェーズの議論３　〜「知覚」と「思考」とは？！〜	</p>
						{% include discussion-tr.html person=	"kodama"	 content="	さて、「『知覚』ではなく、『思考』の対象である」というのはどういうことについても考えていこう。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="でも、意味フェーズの議論２で出てきたように、物理学理論と歴史学理論の類似で考えるとわかるんじゃないかな。<br>
						物理学の場合では、素粒子は直接的に知覚することはできないけど、実験による間接証拠が物理学理論のネットワークによって支えられてることで、その「実在」は確証が得られるんだったよね。"%}
						{% include discussion-tr.html person=	"kodama"	 content="	そうだね。歴史学の場合で言われている「知覚」と「思考」もこれに対応しているんじゃいかってことでしょ？つまりこういうこと。	" %}
						<div class="PRT__blackboard">
							「『知覚』の対象ではない」とは、素粒子は直接的に知覚することはできないということ<br>
							「『思考』の対象である」とは、実験による間接証拠が物理学理論のネットワークによって支えられてることで、その「実在」は確証が得られるということ
						</div>
						{% include discussion-tr.html person=	"kameoka"	 content="そう、そういうこと。<br>
						だって、ほら、第四形式段落にこう書いてある。" %}
						<blockquote cite="">
							<p>歴史的事実は過去のものであり、もはや知覚的に見たり聞いたりすることはできませんので、その「実在」を主張するためには、直接間接の証拠が必要とされます。また、歴史学においては史料批判や年代測定など一連の理論的手続きが要求されることもご存じのとおりです。</p>
						</blockquote>
						<div class="PRT__blackboard">
							＜まとめ＞<br>
							＊　歴史的事件・歴史的出来事が「知覚」の対象ではないというのは、「過去のものであるため直接知覚することができない」ということを指している。<br>
							＊　一方で「思考」の対象であるというのは、「歴史学理論のネットワークと手続きによって初めて実在を主張できる」ということを指している。
						</div>
						{% include discussion-tr.html person=	"kodama"	 content="	すごく長ったらしくなってしまうけど、これまで話を解答の形にしてみよう。	" %}
						<p class="anchor-header kaitou-zantei">歴史記述の対象であり、歴史学理論のネットワークと手続きによって、その実在が証明された抽象的対象・抽象的概念である「事件」や「出来事」は、過去のものであるため直接知覚することはできず、歴史学理論のネットワークと手続きによって初めて実在を主張できるものであるということ。（133字）	</p>
						<p class="heading3 text-center margin-top-64px">表現フェーズの議論　〜冗長な内容をまとめる〜</p>
						{% include discussion-tr.html person=	"kodama"	 content="	解答の前半と後半で同じことを言ってしまっているから、まとめよう。	" %}
						<p class="anchor-header kaitou-zantei">歴史記述の対象であり、抽象的対象・抽象的概念である「事件」や「出来事」は、過去のものであるため直接知覚することはできず、歴史学理論のネットワークと手続きによって初めて実在を主張できるものであるということ。（102字）</p>
						{% include discussion-tr.html person=	"taniguchi"	 content="	まだ長いね。「歴史的記述の対象であり〜『事件』や『出来事』は」というのは、この場合「事件」や「出来事」であるという言葉が主旨なのではなく、歴史的記述の対象であるということが主旨だよね。だから「事件」や「出来事」という言葉は削ってしまおう。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	抽象的概念・抽象的対象というのも冗長だね。この場合は、抽象的であるということが伝われば良さそうだ。	" %}
						<p class="anchor-header kaitou-zantei">歴史的記述の対象は、抽象的概念であり、過去のものであるため直接知覚することはできず、歴史学理論のネットワークと手続きによって初めて実在を主張できるものであるということ。（84字）	</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	最後の「歴史学理論のネットワークと手続きによって初めて実在を主張できるものである」というのも短くできる気がする。傍線部の主旨は「知覚」の対象なのか「思考」の対象なのかということであり、実在についての議論は優先度が低そうだ。	" %}
						<p class="anchor-header kaitou-zantei">歴史的記述の対象は、抽象的概念であり、過去のものであるため直接知覚することはできず、歴史学理論のネットワークと手続きを前提に構成されるものであるということ。（78字）	</p>
						{% include discussion-tr.html person=	"kodama"	 content="	だいぶ短くなったね。あとは、言葉の順番を入れ替えよう。「歴史的記述の対象」＝「抽象的概念」＝「〜〜を前提に構成されるもの」という図式があるから、後半のふたつは書き方としてまとめられそうだ。	" %}
						<p class="anchor-header kaitou">歴史的記述の対象は、過去のものであり直接知覚することはできず、歴史学理論のネットワークと手続きを前提に構成される抽象的概念であるということ。（70字）	</p>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="q4">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （四）「歴史的出来事の存在は『理論内在的』あるいは『物語内在的』なのであり、フィクションといった誤解をあらかじめ防止しておくならば、それを『物語り的存在』と呼ぶこともできます」（傍線部エ）とあるが、「歴史的出来事の存在」はなぜ「物語り的存在」といえるのか、本文全体の論旨を踏まえた上で、100字以上120字以内で説明せよ（句読点も一字と数える）。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
	          <p>理論も物語りも探究の手続きである。物理学における素粒子が、単なる想像の産物ではなく、理論によって実在性が確保されるのと同様に、歴史的出来事も直接的に知覚することはできないが、物語りのネットワークによってその実在性を確保されるものであるから。（120字）</p>
						<p class="heading3 text-center margin-top-64px">思考の目次</p>
						<div class="shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>なにが問われているか？</li>
									</ol>
								</li>
								<li>読解フェーズ
									<ol>
										<li>歴史的出来事とはなにか？</li>
										<li>物語り的存在とはなにか？</li>
										<li>なぜ、歴史的出来事は、物語り負荷的存在だといえるのか？</li>
									</ol>
								</li>
								<li>表現フェーズ
									<ol>
										<li>解答をブラッシュアップする</li>
									</ol>
								</li>
								<li>他社解答例講評（近日公開）</li>
							</ol>
						</div>
						<p class="heading3 text-center margin-top-64px">構成フェーズ：なにが問われているか？	</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	まずは最初に問題を確認しよう。問題は、『「歴史的出来事の存在」はなぜ「物語り的存在」といえるのか』だね。傍線部はあくまで参照点として引かれているにすぎないという点に注意が必要だ。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	問題の構造を取り出すと、「AはなぜBといえるのか」というものになる。気をつけておきたいのは「いえる」という述語だ。「AはなぜBなのか」という問いと、根本的に異なる。「いえる」という述語のおかげで、回答としては「A＝B」となる可能性を支える根拠を提出すればよい、ということになる。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	「AはBである」という命題は、「AとBは同値である（必要十分の関係にある）」あるいは「AはBを含む（AはBの十分条件である）」のどちらかを意味する。したがって、最も弱い主張として、少なくとも「AはBを含んでいるといえる」ことが立証できればよい。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	さしあたり「Aとはなにか」「Bとはなにか」を明確にしなければならない。そののち、「AとBの共通点」を指摘することができれば、「A=Bといえる」根拠を提出できるだろう。では、「歴史的出来事の存在」とはなにか、そして、「物語り的存在」とはなにかをまずは探って行こう。	" %}
						<p class="heading3 text-center margin-top-64px">意味フェーズ：歴史的出来事とはなにか？	</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	歴史的出来事の存在とはなにか。書名をみると『歴史を哲学する----七日間の集中講義』とあり、実際に形式段落1から過去についての言及はあるように、そもそも本文全体が歴史のはなしをしている。しかし、歴史に本格的に言及するようになるのは形式段落4からである。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	形式段落4をみてみよう。まずは、以下のような文章に出逢うだろう。" %}
						<blockquote>
							<p>
								以上の話から、物理学に見られるような理論的「探究」の手続きが、「物理的事実」のみならず「歴史的事実」を確定するためにも不可欠であることにお気づきになったと思います。 [……] 歴史的事実は過去のものであり、もはや知覚的に見たり聞いたりすることはできませんので、その「実在」を主張するためには、直接間接の証拠が必要とされます。また、歴史学においては史料批判や年代測定など一連の理論的手続きが要求されることもご存じのとおりです。その意味で、歴史的事実を一種の「理論的存在」として特徴づけることは、抵抗感はあるでしょうが、それほど乱暴な議論ではありません。
							</p>
						</blockquote>
						{% include discussion-tr.html person=	"kodama"	 content="物理学と同様、実在を確証するには、証拠が必要であり、証拠は理論的手続きに支えられていることが主張されている。歴史学でいう理論的手続きとは、史料批判や年代測定といったものであるようである。こういった特徴から、歴史的事実も、物理学と同様に、科学哲学では理論的存在とよぶようである。この点は、物理学における説明から類推して理解することが可能であり、そこまで難しい話ではない。次に進もう。" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	形式段落5に進むと、まずは歴史的事実が知覚できず、思考の対象であることが述べられる。ここは形式段落4の、歴史的事実は知覚できないという点を反復しているだけなので、そのまま通り過ぎよう。そうすると、次のような一文に出逢う。" %}
						<blockquote>
							<p>
								歴史記述の対象は「もの」ではなく「こと」、すなわち個々の「事物」ではなく、関係の糸で結ばれた「事件」や「出来事」だからです。
							</p>
						</blockquote>
						{% include discussion-tr.html person=	"taniguchi"	 content="という一文に出逢う。「関係の糸」は初出の概念である。どうやら、ここから新しいはなしに進むようだ。	" %}
						<blockquote>
							<p>
								「理論的存在」と言っても、ミクロ物理学と歴史学とでは分野が少々かけ離れすぎておりますので、もっと身近なところ、歴史学の隣接分野である地理学から例をとりましょう。われわれは富士山や地中海をもちろん目で見ることができますが、同じ地球上に存在するものでも、「赤道」や「日付変更線」を見ることはできません。確かに地図の上には赤い線が引いてありますが、太平洋を航行する船の上からも赤道を知覚的に捉えることは不可能です。しかし、船や飛行機で赤道や日付変更線を「通過」することは可能ですから、その意味ではそれらは確かに地球上に「実在」しています。その「通過」を、われわれは目ではなく六分儀などの「計器」によって確認します。計器による計測を支えているのは、地理学や天文学の「理論」にほかなりません。
							</p>
						</blockquote>
						{% include discussion-tr.html person=	"kameoka"	 content="以上の文章を抽象化することで、「理論的存在」とはなにかを窺い知ることができる。第一に、理論的存在とは、直接知覚できない。第二に、理論的存在の実在を確認するためには「計器」が必要である。第三に、計器による計測を支えているのが「理論」である。以上をまとめると、理論的存在は、究極的には、理論によって実在保証をされていることが分かる。ここは、物理学のはなしと特に変わりはない。さきほどの「関係の糸」という概念は説明されず放っておかれている。	" %}
						<blockquote>
							<p>
								この「理論」を「物語り」と呼び換えるならば、われわれは歴史的出来事の存在論へと一歩足を踏み入れることになります。
							</p>
						</blockquote>
						{% include discussion-tr.html person=	"kodama"	 content="ここで、「理論」＝「物語り」という仮定のもので、これからの論が進められていくことが予告されている。どうやら、歴史的出来事とはなにか？という問いに答えるには、行き過ぎてしまったようだ。ここで、ここまでの議論をまとめておこう。	" %}
						<div class="PRT__blackboard">
							Q. 歴史的出来事とはなにか？<br>
							A. 物理学と同様、直接知覚できず、理論と証拠によって初めて存在主張ができるような存在
						</div>
						<p class="heading3 text-center margin-top-64px">意味フェーズ：物語り的存在とはなにか？	</p>
						{% include discussion-tr.html person=	"kodama"	 content="	傍線部の直前には「言い換えれば」という言葉があり、その前後を確認すると、「物語り負荷的存在」＝「物語り的存在」であることが分かる。また、さきほどみ見た部分から、「理論」＝「物語り」という仮定のもので以下の議論は進められることも改めて確認しておく。その上で、続きの文章を読んでいこう。	" %}
						<blockquote cite="">
							<p>
								その確信は、言うまでもなく『陸奥話記』や『古今著聞集』をはじめとする文書史料の記述や『前九年合戦絵巻』などの絵画資料、ある いは武具や人骨などの発掘物に関する調査など、すなわち「物語り」のネットワークに支えられています。このネットワークから独 立に「前九年の役」を同定することはできません。
							</p>
						</blockquote>
						{% include discussion-tr.html person=	"kameoka"	 content="「すなわち」という接続詞は、「AすなわちB」というかたちで、「A＝B」を示す。したがって、ここでいう「『物語り』のネットワーク」とは、文書史料の記述、絵画史料、発掘物に関する調査のすべてを包含する概念である。	" %}
						<blockquote cite="">
							<p>
								だいいち「前九年の役」という呼称そのものが、すでに一定の「物語り」のコンテクストを前提として います。つまり「前九年の役」という歴史的出来事はいわば「物語り負荷的」な存在なのであり【……】
							</p>
						</blockquote>
						{% include discussion-tr.html person=	"taniguchi"	 content="「前九年の役」という呼称が、「物語り」のコンテクストを前提としているとはどういうことか。それは、「前九年」というのが、なんらかの参照点なしには呼称しえないものであり、なにかと関係付けられているという程度の意味であろう。そうした物語のコンテクストを前提とした存在を、筆者は「物語り負荷的な存在」と呼ぶ。" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	ただし、この点まで読んでくると、疑問が首をもたげてくる。いったい「物語り」とはなにかのか。「物語り」という概念はあまりにも曖昧模糊としているのではないか。そういった疑問は正しい。本文のこの部分からは、「物語り」がなにか、という問いに明確な答えは与えられていない。<br><br>というのも、ここまでに「物語り」に関連する命題として、3つのバラバラなものが提起されているからである。" %}
						<div class="PRT__blackboard">
							1. 物語り＝理論<br>
							2. 物語りのネットワーク＝文書史料の記述、絵画史料、発掘物に関する調査のネットワーク<br>
							3. 物語り負荷的存在の例　……　前九年の役という呼称
						</div>
						{% include discussion-tr.html person=	"taniguchi"	 content="ここまで「物語り」という概念に様々なものを包含してしまうと、概念があいまいなものになってしまう。そこで、「物語り」という概念に含まれている命題に共通点と相違点を分析し、共通点が「物語り」概念の本質的な特徴であると仮定して議論を進めていきたい。なお、この点は本文の記述を手がかりとしているが、本文の記述そのままで答えることはできず、ある程度の推論が必要とされる部分である（その意味で、現代文の問題は本文に書いてあることだけで答えられるというのは正しくない）。<br><br>さきほどの「文書史料の記述、絵画史料、発掘物に関する調査」といった点は、証拠と証拠のネットワークのはなしであった。一方で、「前九年の役という呼称」に着目した議論は、出来事と出来事のネットワークのはなしである。そこから導出される共通点は、なにかとなにかを関連付けている点である。そうしてみると、相違点は、なにとなにを関連づけているかだということが分かる。この観点からすると、「物語り＝理論」としている点は、証拠と理論の関係を意味しているのだろう。そうしてみると、物語りというものは、形式段落5で出てきた「関係の糸」という概念に近いことが分かる。したがって、「物語り負荷的存在」とはなにか？という問いに一言で答えるならば、「関係の網の目の中でしか存在が確証されない存在」であるということになる。" %}
						<div class="PRT__blackboard">
							Q. 物語り的存在とはなにか？<br>
							A. それ自体として存在主張することができず、関係の糸の中でしか存在できないような存在
						</div>
						<p class="heading3 text-center margin-top-64px">意味フェーズ：なぜ、歴史的出来事は、物語り負荷的存在だといえるのか？	</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	それではいよいよ、設問に答えていくことにしよう。設問に答えるにあたっては、傍線部直前の以下の記述を参照点として論を組みてていくとよい。" %}
						<blockquote cite="">
							<p>その存在性格は認識論的に見れば、 素粒子や赤道などの「理論的存在」と異なるところはありません。</p>
						</blockquote>
						{% include discussion-tr.html person=	"kameoka"	 content="その存在性格は、指示語をおさえれば「物語り負荷的存在」である。さきほど確認したように、物語り負荷的存在＝物語り的存在であったから、この一文は、物語り的存在＝理論的存在であることを示している。" %}
						{% include discussion-tr.html person=	"kodama"	 content="	重要なのは「認識論的に見れば」という記述である。問いが『「歴史的出来事の存在」はなぜ「物語り的存在」といえるのか』といったかたちで慎重に断定を避けているのは、「認識論的に見れば」という限定がついているためだったからである。その点は解答に盛り込んだほうがよいだろう。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	それでは、歴史的出来事は、なぜ物語り的存在＝理論的存在なのか。さきに、歴史的出来事の特徴を議論しておいたので、「歴史的出来事＝理論的存在」であることはすぐに納得できるだろう。そうすると、この設問への答えは、「理論的存在」を媒介項として、「歴史的出来事＝理論的存在＝物語り的存在」というように論を進めていけば解答できることが分かる。ここまでわかれば、これまでの議論を踏まえれば、暫定解を書くことができる	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	歴史的出来事とは、物理学における理論的存在と同様、直接知覚できず、理論と証拠によって初めて存在主張ができるような存在である。したがって、それ自体として存在主張することができず、関係の糸の中でしか存在できないような存在であるという意味で、物語り負荷的な存在である。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	これでほとんど解答としては上出来だが、あと一点、追加しておくべき点がある。傍線部に戻ってみてよう。" %}
						<blockquote cite="">
							<p>フィクションといった誤解をあらかじめ防止しておくならば、それを「物語り的存在」と呼ぶこともできる</p>
						</blockquote>
						{% include discussion-tr.html person=	"kodama"	 content="ここでは、「物語り的存在」という呼称を持ち出す意図として、「フィクションといった誤解をあらかじめ防止しておく」ことが述べられている。この点は、設問二で考察した、「むろん理論的存在と言っても『理論的虚構』という意味はまったく含まれていない」という一文を踏まえていることが分かるだろう。したがって、この点も盛り込んだ解答とすればさらによい。	" %}
						<p class="anchor-header kaitou-zantei">歴史的出来事とは、物理学における理論的存在と同様、直接知覚できないものの、理論的虚構ではなく、理論と証拠によって存在主張ができる。したがって、それ自体として存在主張することができず、関係の糸の中でしか存在できないという意味で、物語り負荷的な存在である。	</p>
						<p class="heading3 text-center margin-top-64px">表現フェーズ：解答をブラッシュアップする	</p>
						<p class="anchor-header kaitou">歴史的出来事は、直接知覚できないが理論によって実在性を確保されるため虚構ではない。それゆえ認識論的には、それ自体として存在が確証されないが、複数の事象や証拠を関連付けることで実在性を確保されるという意味で、物語り負荷的だといえるから。（117）	</p>
						<p class="anchor-header kaitou">歴史的出来事は、知覚不可能であり、直接的証拠によって独立に示されるものではないが、だからといって想像の産物だというわけではなく、その実在性は、歴史学の理論的手続きによって複数の間接的証左や事象を関連付けることによって保証されているから。（118）	</p>
						<p class="anchor-header kaitou">歴史的出来事の存在は、物理学における素粒子などと同様に、直接的に知覚できないが、史料批判などの理論的手続きに保証された間接的証拠に基いて実在性を保証されるという意味で、一定のネットワークに支えられて初めて実在性を確証できるものであるから。（119）	</p>
						<p class="anchor-header kaitou">粒子は直接知覚することはできないが理論的手続きのもとで実在性が確保される。同様に、歴史的な出来事も、直接知覚できないが恣意的な虚構物ではなく、様々な資料をもとに形成された意味のネットワークの中に位置付けられることで実在性を確保されるから。（120）	</p>
					</div>
				</div>
			</div>
		</div>
 	</div>
</section>
