---
layout: default
title: 平成30年度第1問 Anchor 議論して勉強する東大現代文 | Schip 解くから問うへ
description: 【最新】議論して勉強する東大現代文 Anchorの平成30年度第一問版です。東大生たちの読解の過程をそのまま公開します。スマホから読めます。東大受験対策に。| Schip 解くから問うへ
kw: 東大,現代文,入試,過去問,受験,勉強,教育
list1: <a href="/#philosophy">Philosophy</a>
list2: <a class="selected">Anchor</a>
list3: <a href="https://compass.schip.me" target="_blank">Comapss</a>
list4: <a href="/inquiry-bot">問いボット(仮)</a>
---

{% include branchheader.html content="Anchor<br>平成30年度第1問<br>β版" %}
<section class="anchor"> <!-- Tab-navのデザインのためのclass -->
	<div class="container">
		<div class="row margin-bottom-0">
			<div class="col-md-8 col-md-offset-2">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#q1" aria-controls="q1" role="tab" data-toggle="tab">設問(一)</a></li>
					<li role="presentation"><a href="#q2" aria-controls="q2" role="tab" data-toggle="tab">設問(二)</a></li>
					<li role="presentation"><a href="#q3" aria-controls="q3" role="tab" data-toggle="tab">設問(三)</a></li>
					<li role="presentation"><a href="#q4" aria-controls="q4" role="tab" data-toggle="tab">設問(四)</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="q1">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （一）「その痕跡が素粒子の『実在』を示す証拠であることを保証しているのは、量子力学を基盤とする現代の物理学理論にほかなりません」（傍線部ア）とはどういうことか、説明せよ。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
	          <p>知覚した現象を、知覚できない素粒子の「実在」を確証するための証拠たらしめているのは、現代の物理学理論以外にはありえないということ。（61字）</p>
						<p class="heading3 text-center margin-top-64px">思考の目次</p>
						<div class="shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>指示語を的確に捉える</li>
										<li>傍線部の構造</li>
									</ol>
								</li>
								<li>読解フェーズ
									<ol>
										<li>素粒子の存在主張の根拠</li>
										<li>知覚可能性・観察可能性</li>
										<li>「実在」について</li>
									</ol>
								</li>
								<li>表現フェーズ
									<ol>
										<li>「ほかならない」の処理</li>
										<li>要素の結合</li>
									</ol>
								</li>
							</ol>
						</div>
						<p class="heading3 text-center margin-top-64px">構成フェーズの議論　〜指示語を的確に捉える〜</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	「どういうことか？」という問いなので、まずは傍線部をみていこう。傍線部内に「その痕跡」という指示語があるので、そこを読解することから始めよう。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	その痕跡は、直前にある「ミクロな粒子の運動のマクロな『痕跡』」という部分を受けているね。段落を最初から読めば、ミクロな粒子とは素粒子のことであり、マクロな痕跡とは霧箱や泡箱によって捉えられた素粒子の運動の飛跡だということが分かる。したがって、一言でまとめると、<b>「その痕跡」とは「素粒子の飛跡」である</b>ことが分かる。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	「その痕跡」＝「素粒子の飛跡」を用いると、<b>「『素粒子の飛跡』が素粒子の『実在』を示す証拠であることを保証しているのは、量子力学を基盤とする現代の物理学理論にほかなりません」</b>というようになるね。ここからは、以上のように指示語を代入した上で考えていこう。	" %}
						<p class="heading3 text-center margin-top-64px">構成フェーズの議論　〜傍線部の構造〜</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	さて、この問題で気をつけたいのは<b>傍線部の構造</b>だ。構造だけ取り出すと「XXを保証しているのは、YYにほかなりません」となる。いいかえれば、「ほかならぬYYによってこそXXが保証される」ということだ。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	YY＝「量子力学を基盤とする現代の物理学理論」は単純だから、XXに焦点をあてて考えてみる。以下、簡単にするために厳密ではないが、YYのことを「現代の物理学理論」としよう。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	XX＝「『素粒子の飛跡』が素粒子の『実在』を示す証拠であること」というのはさっき確認したね。 ここで注意したいのは、現代の物理学理論が保証するのは、「『素粒子の飛跡』が素粒子の『実在』を示す証拠であること」であって、「素粒子の『実在』」そのものではないということだ。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	つまり、「ほかならない」のニュアンスを無視して強引に傍線部を言い換えれば、<b>「現代の物理学理論によって、『素粒子の飛跡』が素粒子の『実在』を示す証拠であることが保証される」</b>となる。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	それゆえ、XXを捉え間違えると、答案の趣旨が「素粒子の『実在』が現代の物理学理論によって保証されているということ」となってしまい誤答となる。あくまで、<b>YY＝「量子力学を基盤とする現代の物理学理論」が保証しているのは、XX=「『素粒子の飛跡』が素粒子の『実在』を示す証拠であること」であって、「『素粒子の飛跡』そのものではない。</b>ここには、ぜひ注意したいね。" %}
						<p class="heading3 text-center margin-top-64px">読解フェーズの議論 〜素粒子の存在主張の根拠〜</p>
						{% include discussion-tr.html person=	"kodama"	 content="	では、「現代の物理学理論によって、『素粒子の飛跡』が素粒子の『実在』を示す証拠であることが保証される」とはどういうことなんだろう？	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	ここで参照したいのは、素粒子の例が持ち出された文脈だ。形式段落1では、過去は知覚できないから「実在」を確証するために「探究」の手続きが必要であることが指摘されていた。そして形式段落2の冒頭をみると「過去と同様に」とあり、同じ構造の話であることが分かる。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="したがって、まず抑えておくべきポイントは2つあるね。<br>
						（1）過去が知覚できないのと同様に素粒子も知覚できない<br>
						（2）過去の「実在」を確証するために「探究」の手続きが必要であるのと同様に、素粒子の「実在」を確証するためにも「探究」の手続きが必要である<br>
						の2つだ。そして<b>傍線部は、まさに素粒子の「実在」を確証するための「探究」の手続きを説明している</b>ということに注意しよう。" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	ここまで見てくると、素粒子の「実在」を確証するための「探究」の手続きとはどんなものだろうか？という問いを考える必要があることが分かる。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="この点については傍線部のあとに説明がある。<br>
						まず第一に、素粒子自体は観察不可能なので、「間接的証拠を支える理論的手続き」によって「実在」の意味が与えられるということ。<br>
						第二に、「物理学理論と実験的証拠の裏づけ」なしに、存在の主張ができないということ。<br>
						両者を総合すると、<b>素粒子の直接的な観測ではないものの、「物理学理論」＋「間接的証拠＝実験的証拠」があれば素粒子の実在性が主張できる</b>ということになる。" %}
						{% include discussion-tr.html person=	"kodama"	 content="	ポイントは、<b>「間接的証拠＝実験的証拠」はそれ単体では素粒子の実在性を支える証拠とはならない</b>ということだ。物理学理論の支えがあって初めて、「間接的証拠＝実験的証拠」は素粒子の実在性を主張する根拠となるということである。形式段落2の最後に、「素粒子が『実在』することは背景となる物理学理論のネットワークと不即不離」という記述があるのは、この点を指摘している。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	傍線部に戻ろう。さきほどの議論で、傍線部は「現代の物理学理論によって、『素粒子の飛跡』が素粒子の『実在』を示す証拠であることが保証される」と言い換えられていた。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	もうお分かりのとおり、傍線部でいう「素粒子の飛跡」が、ここまでの議論にでてきた「間接的証拠＝実験的証拠」である。したがって代入すると、<b>「現代の物理学理論によって、間接的証拠である『素粒子の飛跡』が、素粒子の実在を示す証拠であることが保証される」</b>となる。もう解答は目前だ。	" %}
						<p class="heading3 text-center margin-top-64px">読解フェーズの議論 〜知覚可能性・観察可能性〜</p>
						{% include discussion-tr.html person=	"taniguchi"	 content="	さきほど指摘した2点のうち、順序は逆になるけど、(1)「過去が知覚できないのと同様に素粒子も知覚できない」ことを見ていこう。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	そもそも、間接的証拠が間接的証拠でしかありえないのは、直接観察できないからだ。直接観察できれば、物理学理論の支えがなくても証拠として機能する。しかし、知覚不可能だからこそ、物理学理論の支えが必要とされるのだ。そもそも、<b>いままでの議論の前提は、素粒子が知覚不可能な対象で、直接観察できないことに端を発していた</b>ということだ。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	傍線部に即していうと、「素粒子」そのものは知覚不可能であり、直接観察できない。一方で、「素粒子の飛跡」は観察可能だが、これは素粒子そのものではないから、素粒子の実在性を示すためには物理学理論の支えを必要となり、間接的証拠にしかすぎない。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	<b>問題の発端はこのように、対象が知覚可能か不可能か、直接的に観察できるか否かにある</b>。したがって、解答にはこの対比も盛り込みたいね。	" %}
						<p class="heading3 text-center margin-top-64px">読解フェーズの議論 〜「実在」について〜</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	最後に、傍線部には「実在」が括弧つきで使われているが、これをどう読み解くかについて考えよう。課題文では一貫して「実在」は基本的に括弧つきで使われている。それゆえ、一般的な意味での「実在」とは異なる意味であると考えられる。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	最も参考になるのは、傍線部の後、「素粒子の『実在』の意味は直接的な観察によってではなく、間接的証拠を支えている物理学理論によって与えられている」という部分である。では、<b>「実在」の意味が物理学理論によって与えられているとはどういうことか？</b>	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	少し先にはなるけれど、傍線部イがある段落で、五感によって知覚的に観察可能なものだけが「実在」するわけではない点が指摘されているね。筆者は、文章全体を通して、<b>五感によって直接的に知覚できないものでも理論の手続きによって実在性を保障されうる</b>ことを指摘しているね。したがって、ここでいう「実在」は、物理学理論と存在が切り離せないという意味だと思う。	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	一方で、傍線部アの段落には、「『実在』を確信して疑わない」「実在するとは誰も考えません」「存在主張」といった表現がある。この表現は、<b>実在性はあくまで人間がおこなう主張であり、理論的手続きと実在性が不分なだけではなく、理論を踏まえて主張する主体と切り離して実在性が担保されることはありえない</b>ことを指摘していると考えられる。この点から、筆者が用いている「実在」は認識上のものであるということができると思う。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="ユージンの指摘する存在論的な「実在」の用法と、こだまが指摘する認識論における『実在」の用法は、どちらでも本文の解釈として適切であり、かつ、本文の記述からでは、どちらだと断定することも難しい。したがって、<b>「実在」の説明については決定不可能性の観点から「実在」とカギ括弧付きでも、存在論的・認識論的の解釈どちらかを採用した解答となっていても、どちらでも大丈夫だと考えられる</b>ね。	" %}
						<p class="heading3 text-center margin-top-64px">表現フェーズの議論 〜「ほかならない」の処理〜</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	指示語を代入した傍線部に立ち戻ろう。傍線部は、「『素粒子の飛跡』が素粒子の『実在』を示す証拠であることを保証しているのは、量子力学を基盤とする現代の物理学理論にほかなりません」であった。この構造を保存して解答を書いてもよいのだけど、少し冗長だ。<b>冗長の理由は「XXを保証しているのはYYにほかなりません」という構造にある。</b>	" %}
						{% include discussion-tr.html person=	"kodama"	 content="	傍線部を言い換えると、「ほからならないYYが、XXを保証している」ということになる。「ほかならない」の意味は、「それ以外になく、まさにそれである」である。それを踏まえて、さらに言い換えれば「YY以外には、XXは保証できない」となる。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	が、傍線部はXX→YYという流れで記述されていることを踏まえると、「XXは、YY以外には保証されない」と言い換えるとより傍線部に近い意味になる。肯定形に変換すると、「XXはYYに依拠して初めて保証される」という構造でいくのがよいだろう。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	ここまでをまとめると、<b>「『素粒子の飛跡』が素粒子の『実在』を示す証拠であることは、量子力学を基盤とする現代の物理学理論に依拠して初めて保証される」</b>となるね。	" %}
						<p class="anchor-header kaitou-zantei">「素粒子の飛跡」が素粒子の「実在」を示す証拠であることは、量子力学を基盤とする現代の物理学理論に依拠して初めて保証される</p>
						<p class="heading3 text-center margin-top-64px">表現フェーズの議論 〜要素の結合〜</p>
						{% include discussion-tr.html person=	"kameoka"	 content="	ここからは意味フェーズの議論に依拠して加筆していく。まずは、「素粒子の存在主張の根拠」での議論を踏まえて、現代の物理学理論が支えているのは、間接的証拠＝実験的証拠であることを示す。すると、<b>「間接的証拠でしかない『素粒子の飛跡』が素粒子の『実在』を示す証拠であることは、量子力学を基盤とする現代の物理学理論に依拠して初めて保証される」</b>となる。	" %}
						{% include discussion-tr.html person=	"taniguchi"	 content="	つぎに、そもそも議論の発端が、素粒子それ自体は知覚できないため、直接的な観察が不可能であることにある点を解答に加える。そうすると、<b>「間接的証拠でしかない『素粒子の飛跡』が、直接は知覚も観察もできない素粒子の『実在』を示す証拠であることは、量子力学を基盤とする現代の物理学理論に依拠して初めて保証される」</b>となる。	" %}
						{% include discussion-tr.html person=	"kameoka"	 content="	さらに細かい点で、「量子力学を基盤とする現代の物理学理論」という文言があるが、量子力学自体は本文の論旨からは瑣末なので、ただ単に「現代の物理学理論」でよい。「…を示す証拠である」という言い方も冗長なので圧縮すると「確証する」くらいの意味になるだろうか。" %}
						{% include discussion-tr.html person=	"kodama"	 content="最後に、「実在」の意味についての議論についてみてみる。先ほど読解フェーズで見た通り、この本文では、この言葉の意味は曖昧なままで、決定できない。決定できないことに着目して、単に「実在」と答案に書いてもここでは許されると思う。もちろん、「わたしは『実在』の意味をこう読み取った！」という主張を答案に盛り込んでもOK。「実在」が世界に確かに存在しているという意味だとすると、例えば「素粒子が実際に存在する」などと表現できる。一方で、実在の意味は、観測主体の認識において存在が確信できることだと捉えると「素粒子が実在すると説得的に示す」などとなる。ここは、どの解答でも大丈夫だ。	" %}
						<p class="anchor-header kaitou">間接的証拠にすぎない素粒子の飛跡による、観察不能な素粒子の「実在」の確証は、現代の物理学理論に依拠して初めて保証されるということ。（65）</p>
						<p class="anchor-header kaitou">間接的証拠にすぎない素粒子の飛跡に依拠した、観察不能な素粒子の存在の主張は、現代の物理学理論に依拠して初めて保証されるということ。（65）</p>
						<p class="anchor-header kaitou">間接的証拠にすぎない素粒子の飛跡によって示される、観察不能な素粒子の実在の説得性は、現代の物理学理論に依拠して初めて保証されるということ。（69）</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<ul>
							<li>こちらはβ版（制作途中・目下議論中）のAnchorとなっております。この解答が導かれた議論は、後日掲載します！</li>
							<li>ですので、ご意見ご指摘・ツッコミなどいつでもお待ちしております。</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="q2">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （二）「『理論的虚構』という意味はまったく含まれていない」（傍線部イ）とはどういうことか、説明せよ。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
	          <p>理論的存在は、理論から独立して実在性を主張できないものの、理論的手続きを経て実在性を保証されており、単なる想像の産物ではないということ。（68字）</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<ul>
							<li>こちらはβ版（制作途中・目下議論中）のAnchorとなっております。この解答が導かれた議論は、後日掲載します！</li>
							<li>ですので、ご意見ご指摘・ツッコミなどいつでもお待ちしております。</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="q3">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （三）「『フランス革命』や『明治維新』が抽象的概念であり、それらが『知覚』ではなく、『思考』の対象であること」（傍線部ウ）とはどういうことか、説明せよ。
		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
	          <p>歴史的出来事は、知覚しうる個々の事物ではなく、歴史学の理論と手続きを前提として思考される、事物の関係の総体であるということ。（62字）</p>
						<p class="heading3 text-center margin-top-64px">思考の目次</p>
						<div class="shikounomokuji">
							<ol>
								<li>構成フェーズ
									<ol>
										<li>設問文読解</li>
										<li>傍線部読解</li>
									</ol>
								</li>
								<li>読解フェーズ（近日公開）
								</li>
								<li>表現フェーズ（近日公開）
								</li>
								<li>他社解答例講評（近日公開）</li>
							</ol>
						</div>
						<p class="heading3 text-center margin-top-64px">構成フェーズの議論</p>
						{% include discussion-tr.html person="taniguchi" content="設問文に括弧が多い(笑)<br>ただ文章の大枠はわかりやすいなぁ。" %}
						{% include discussion-tr.html person="kameoka" content="たしかに。『フランス革命』『明治維新』や、『知覚』『思考』の中身を説明することでカギ括弧を外せば解答になるんじゃないかな。そうだね。じゃそれぞれの中身を考えていこうか。考えることをまとめるよ。" %}
						{% include discussion-tr.html person="kodama" content="そうだね。じゃそれぞれの中身を考えていこうか。考えることをまとめるよ。<br>①「『フランス革命』と『明治維新』」は何のことを表しているか？<br>②『知覚』の意味は何か？<br>③『思考』の意味は何か？<br>" %}
						<p class="heading3 text-center margin-top-64px">読解フェーズの議論</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<ul>
							<li>こちらはβ版（制作途中・目下議論中）のAnchorとなっております。この解答が導かれた議論は、後日掲載します！</li>
							<li>ですので、ご意見ご指摘・ツッコミなどいつでもお待ちしております。</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="q4">
			<div class="setsumon">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-md-offset-2">
		          （四）「歴史的出来事の存在は『理論内在的』あるいは『物語内在的』なのであり、フィクションといった誤解をあらかじめ防止しておくならば、それを『物語り的存在』と呼ぶこともできます」（傍線部エ）とあるが、「歴史的出来事の存在」はなぜ「物語り的存在」といえるのか、本文全体の論旨を踏まえた上で、100字以上120字以内で説明せよ（句読点も一字と数える）。

		        </div>
		      </div>
		    </div>
		  </div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="heading3 text-center">Schip解答</p>
	          <p>理論も物語りも探究の手続きである。物理学における素粒子が、単なる想像の産物ではなく、理論によって実在性が確保されるのと同様に、歴史的出来事も直接的に知覚することはできないが、物語りのネットワークによってその実在性を確保されるものであるから。（120字）</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<ul>
							<li>こちらはβ版（制作途中・目下議論中）のAnchorとなっております。この解答が導かれた議論は、後日掲載します！</li>
							<li>ですので、ご意見ご指摘・ツッコミなどいつでもお待ちしております。</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
 	</div>
</section>
