<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#0CADF6">
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}" />
	<meta name="keywords" content="{{ page.kw }}">
	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png?v=yyxbwGNbax">
	<link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png?v=yyxbwGNbax" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png?v=yyxbwGNbax" sizes="16x16">
	<link rel="manifest" href="/img/favicons/manifest.json?v=yyxbwGNbax">
	<link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg?v=yyxbwGNbax" color="#0cadf6">
	<link rel="shortcut icon" href="/img/favicons/favicon.ico?v=yyxbwGNbax">
	<meta name="apple-mobile-web-app-title" content="Schip">
	<meta name="application-name" content="Schip">
	<meta name="msapplication-config" content="/img/favicons/browserconfig.xml?v=yyxbwGNbax">
	<meta name="theme-color" content="#0cadf6">
	<!-- CSS frameworks -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/animate.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css">
	<!-- Fonts -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<!-- Main style -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!-- OGP -->
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://schip.me{{ page.url }}" />
	<meta property="og:image" content="{{ page.ogpImg }}" />
	<meta property="og:site_name" content="Schip公式サイト" />
	<meta property="og:description" content="{{ page.description }}" />
	<!-- OGP Facebook -->
	<meta property="fb:app_id" content="364758917243093" />
	<!-- OGP Twitter -->
	<meta name="twitter:card" content="summarylargeimage" />
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-W9HZRPQ');</script>
	<!-- End Google Tag Manager -->
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9HZRPQ"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="ROW-preloader">
  		<div class="cs-loader-inner">
		    <label>	●</label>
		    <label>	●</label>
		    <label>	●</label>
		    <label>	●</label>
		    <label>	●</label>
		    <label>	●</label>
			</div>
	</div>
	</div>
	<nav class="navbar original">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed">
					<span class="sr-only">目次</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand"><img src="/img/logo_both.png" alt="Schipロゴ"></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right main-nav">
					<li>{{ page.list1 }}</li>
					<li>{{ page.list2 }}</li>
					<li>{{ page.list3 }}</li>
					<li>{{ page.list4 }}</li>
					<li><a href="#footer-contact" class="btn btn-blue">お問い合わせ</a></li>
				</ul>
			</div>
		</div>
	</nav>

	{{ content }}

	<footer id="footer-contact">
		<div class="container">
			<div class="text-center margin-bottom-16px">
				<p class="heading2 white">お気軽にご連絡ください</p>
			</div>
			<div class="row">
				<div class="col-md-3 text-center margin-bottom-16px">
					<a href="https://twitter.com/schip__" target="_blank" class="btn btn-blue"><i class="fa fa-twitter"></i> Twitter</a>
				</div>
				<div class="col-md-3 text-center margin-bottom-16px">
					<a data-toggle="modal" data-target="#modal-contact" class="btn btn-blue" id="btn-contact"><i class="fa fa-envelope" aria-hidden="true"></i> メール</a>
				</div>
				<div class="col-md-3 text-center margin-bottom-16px">
					<a href="https://line.me/R/ti/p/%40qcf7943x" target="_blank" class="btn btn-blue"><img src="/img/LINEat_logotype_CMKY_white_noBg.svg" class="btn-lineat"></a>
				</div>
				<div class="col-md-3 text-center margin-bottom-16px">
					<a href="http://m.me/schipedu" target="_blank" class="btn btn-blue"><i class="fa fa-facebook"></i> Messanger</a>
				</div>
			</div>
			<div class="row bottom-footer text-center">
				<p class="white">&copy; 2017 Schip All Rights Reserved.</p>
			</div>
		</div>
	</footer>
	<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<p class="heading3 white">メールでの問い合わせ</p>
				<a href="#" class="close-link"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
				<p class="white" id="form-contact-explain">全ての項目を入力してください。</p>
				<form class="popup-form formrun" action="https://form.run/api/v1/r/s25k2SjYaWOkxY4QokjL" method="post" id="form-contact">
					<p class="white form-contact-label hidden">お名前</p>
					<input name="お名前" type="text" class="form-control form-white" placeholder="お名前 [必須]" required="required" data-validation-engine="validate[required]">
					<p class="white form-contact-label hidden">メールアドレス</p>
					<input name="メールアドレス" type="email" class="form-control form-white" placeholder="返信用メールアドレス [必須]" required="required" data-validation-engine="validate[required,custom[email]]">
					<p class="white form-contact-label hidden">お問い合わせ内容</p>
					<textarea name="お問い合わせ内容" class="form-control form-white" rows="10" placeholder="お問い合わせ内容 [必須]" required="required" data-validation-engine="validate[required]"></textarea>
					<span class="form-control btn btn-submit" id="btnFmCnfm">確認画面へ進む</span>
					<input type="submit" value="送信" class="form-control btn btn-submit hidden" id="btnFmSbmt">
					<span class="btn btn-blue hidden" id="btnFmCrrct">訂正する</span>
					<div class="hidden" id="fmTnks">
						<p class="white">正常に送信されました。ありがとうございました。なお、内容によっては返信できかねる場合がございますのでご了承ください。</p>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Holder for mobile navigation -->
	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="fa fa-arrow-up"></i></a> <!-- このhrefを無くすと、JSイベントがなぜか発火しなくなる！！！ -->
	</div>
	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-one-page-nav/3.0.0/jquery.nav.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery.validationEngine.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/languages/jquery.validationEngine-ja.min.js"></script>
	<script src="https://sdk.form.run/js/v1/sdk.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>
